---
layout: home
title: Home Page of Prasanna Balaprakash
---

 <section id="about">

	<div class="container">
        <center>
        <table width="600">
          <tr>
            <td>
        	  <div class="avatar">
        		<img class="img-rounded" src="{{ site.baseurl }}static/img/{{ site.avatar }}" alt="Responsive image">
              </div>
            </td>
            <td>

            </td>
            <td>
                  <h4><strong>{{ site.author }}</strong></h4>
                  <strong>R&D Lead and Computer Scientist</strong> <br/>
                  <a href="http://www.mcs.anl.gov" target="_blank"> Mathematics and Computer Science Division</a> & <br/> <a href="http://www.alcf.anl.gov" target="_blank"> Leadership Computing Facility </a> <br/>
                  <a href="http://www.anl.gov" target="_blank">Argonne National Laboratory</a><br />
                  9700 S. Cass Avenue<br />
                  Bldg. 240, Room. 1135<br />
                  Argonne, IL 60439<br />
                  <i class="fa fa-phone"></i> (630) 252-1109<br />
                  <i class="fa fa-envelope"></i> pbalapra (at) anl (dot) gov <br />
            </td>
        </tr>
        </table>
    </center>
         <!-- {% include social.html %} -->
     </div>
     </section>
     
<div class="container">
     <div class="panel panel-default">
         <div class="panel-body">

            <!--
            <p>News:</p><br>>

            <ul class="itemize1" align="justify">
                <li class="itemize">New DOE ASCR funded project. PosEiDon: Platform for Explainable Distributed Infrastructure</li>    
                <li class="itemize">New DOE EERE funded project. Probabilistic Machine Learning for Rapid Large-Scale and High-Rate Aerostructure Manufacturing</li>               
            </ul>
            -->


                <p align="justify">
                    My research interests span the areas of artificial intelligence, machine learning, optimization, and high-performance computing. 
                    My team and I focus on advanced research areas in AI for Science at Argonne including scalable automated machine learning, metalearning, reinforcement learning, geometric machine learning, and neuromorphic computing.
                    <!--
                    My research focuses on the development of scalable, data-efficient machine learning methods for scientific applications.
                    My research interests span the areas of artificial intelligence, machine learning, optimization,
                    and high-performance computing. Currently, my research focus is on the
                    design and development of scalable machine learning algorithms for solving large-scale
                    problems that arise in scientific data analysis and in automating
                    application performance modeling/tuning. The overarching goal of my research is to
                    advance the state of the art in scientific data analysis and high-performance computing
                    by increasing the applicability of machine learning and numerical optimization
                    approaches and by improving their performance on leadership-class systems.
                    -->
                </p>
                <p align="justify">
                    I am a recipient of <a href="http://www.anl.gov/articles/three-argonne-scientists-receive-doe-early-career-awards" target="_blank">U.S. Department of Energy 2018 Early Career Award</a>. 
                    I lead the AI area in <a href="https://rapids.lbl.gov/" target="_blank"> RAPIDS2: A SciDAC Institute for Computer Science, Data, and Artificial Intelligence</a>.
                    I lead the research and development of <a href="https://deephyper.readthedocs.io/en/latest/" target="_blank">DeepHyper</a>, a scalable automated machine learning package for DOE leadership-class systems.
                </p>
                <p> I am a Fellow <!--in the <a href="https://www.ci.uchicago.edu/" target="_blank">Computation Institute</a> of the <a href="https://www.uchicago.edu/" target="_blank">University of Chicago</a> and -->
                    in the <a href="http://naise.northwestern.edu/" target="_blank">Northwestern-Argonne Institute of Science and Engineering</a> of the <a href="http://www.northwestern.edu/" target="_blank">Northwestern University</a>.
                    I am also a Scientist At-large in the <a href="https://researchinnovation.uchicago.edu/research-support/case/" target="_blank"> University of Chicago Consortium for Advanced Science and Engineering (UChicago CASE)</a>.
                </p>
                <p align="justify">
                    Previously,
                        <ul class="itemize1" align="justify">
                            <li class="itemize">2017--2020: Computer Scientist, MCS & LCF Divisions, Argonne National Laboratory</li>    
                            <li class="itemize">2014--2018: Fellow, Computation Institute, University of Chicago</li>
                            <li class="itemize">2014--2017: Assistant Computer Scientist, MCS & LCF Divisions, Argonne National Laboratory</li>
                            <li class="itemize">2010--2013: Postdoc, MCS Division, Argonne National Laboratory</li>
                            <li class="itemize">2009--2010: Chief Technology Officer, Mentis SA, Brussels, Belgium</li>
                        </ul>
                </p>
                <!--    
                From 2013 to 2017, I was an assistant computer scientist and my supervisors were <a href="http://www.mcs.anl.gov/~wild/" target="_blank">Dr. Stefan Wild</a> and <a href="https://www.alcf.anl.gov/staff-directory/kalyan-kumaran" target="_blank">Dr. Kalyan Kumaran</a>.
                Until 2013, I was a postdoc at Argonne with <a href="http://www.mcs.anl.gov/~wild/" target="_blank">Dr. Stefan Wild</a> and <a href="http://www.mcs.anl.gov/~hovland/" target="_blank">Dr. Paul Hovland</a>.
                Prior to Argonne, I worked as a Chief Technology Officer at <a href="http://www.mentis-consulting.be/" target="_blank">Mentis Consulting</a>, a machine learning startup in Brussels, Belgium.
                -->
                <p align="justify">
                I received my PhD in 2010 from <a href="https://code.ulb.ac.be/lab/IRIDIA" target="_blank"> CoDE-IRIDIA (AI Lab)</a>, <a href="http://www.ulb.ac.be" target="_blank">Universit&eacute; Libre de Bruxelles</a>, Brussels, Belgium,
                where I was a recipient of <a href="https://ec.europa.eu/research/mariecurieactions/node_en" target="blank_">Marie Skłodowska-Curie</a> and <a href="http://www.fnrs.be/en/" target="_blank">F.R.S-FNRS Aspirant</a> fellowships from the 
                the European Commission and the Belgian-French Community's National Fund for Scientific Research, respectively. 
                <!-- 
                Supervisors of my doctoral research were <a href="http://iridia.ulb.ac.be/%7Emdorigo" target="_blank">Prof. Marco Dorigo</a>, <a href="http://iridia.ulb.ac.be/%7Embiro" target="_blank">Dr. Mauro Birattari</a>, and <a href="http://iridia.ulb.ac.be/%7Estuetzle" target="_blank">Dr. Thomas St&uuml;tzle</a>.
                -->
                </p>

                <h3>Recent News:</h3>
                <p>
                    <strong>***For postdoctoral and internship opportunities, go <a href="{{ site.baseurl }}jobs.html"> here </a> </strong></br>
                </p>
                <ul class="itemize1" align="justify">
                    <li class="itemize">New postdoctoal postion in <a href="https://bit.ly/3AxYyLa" target="_blank"> scientific machine learning (SciML) and explainable artificial intelligence (XAI) </a>.  </li>
                    <li class="itemize">PI on new DOE ASCR funded project with University of Southern California, Lawrence Berkeley National Laboratory, and UNC's Rennaisance Computing Institute: <a href="https://sites.google.com/view/poseidon-workflows/home" target="blank_">PosEiDon: Platform for Explainable Distributed Infrastructure</a>. 
                        The project will develop AI/ML based methods to simulate, model and optimize scientific workflow performance on large, distributed DOE computing infrastructures. </li>    
                    <li class="itemize">Lead PI on new DOE EERE funded project with GE Resarch, GKN Aerospace, and Edison Welding Institute: Probabilistic Machine Learning for Rapid Large-Scale and High-Rate Aerostructure Manufacturing. The project will develop a novel probabilistic
                        ML framework to significantly improve manufacturing efficiency for large-scale aerostructures produced at high rates.</li>               
                    <li class="itemize">Paper at SC 2021: <a href="https://sc21.supercomputing.org/presentation/?id=pap460&sess=sess150" target="blank_">AgEBO-Tabular: Joint Neural Architecture and Hyperparameter Search with Autotuned Data-Parallel Training for Tabular Data</a>.</li>
                    <li class="itemize">Paper at ACML 2021: Learning to Switch Optimizers for Quadratic Programming.</li>
                </ul>
            </div>
      </div>
      
      {% include social.html %}
  </div>
