<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="{{ site.baseurl }}index.html"><i class="fa fa-home"></i></a> -->
      <a class="navbar-brand" href="mailto:{{ site.email}}"><i class="fa fa-envelope"></i></a>
  	  <a class="navbar-brand" href="http://linkedin.com/in/{{ site.linkedin }}"><i class="fa fa-linkedin"></i></a>
      <a class="navbar-brand" href="https://scholar.google.com/citations?hl=en&user={{ site.gscholar }}"><i class="ai ai-google-scholar"></i></a>
      <a class="navbar-brand" href="https://www.researchgate.net/profile/{{ site.rgate }}"><i class="ai ai-researchgate"></i></a>
      <a class="navbar-brand" href="http://github.com/{{ site.github }}"><i class="fa fa-github"></i></a>
    </div>
    <div id="navbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="{{ site.baseurl }}index.html"><i class="fa fa-home"></i>Home</a></li>
        <li><a href="{{ site.baseurl }}research.html"><i class="fa fa-search-plus"></i>Research</a></li>
        <li><a href="{{ site.baseurl }}publications.html"><i class="fa fa-pencil"></i>Publications</a></li>
        <li><a href="{{ site.baseurl }}software.html"><i class="fa fa-code"></i>Software</a></li>
      </ul>
    </div>
  </div>
</nav>
