
<table>

<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Foster2017">1</a>]
</td>
<td class="bibtexitem" align="justify">
I.&nbsp;Foster, T.&nbsp;Lehman, N.&nbsp;Rao, B.&nbsp;Lyles, P.&nbsp;Balaprakash, K.&nbsp;Perumalla,
  S.&nbsp;Prowell, and R.&nbsp;Vatsavi.
 Towards new generation intelligent networking infrastructure for
  distributed science environments.
 Technical report, DOE ASCR Workshop Report, 2017.
[&nbsp;<a href="pbalapra-bibtex_bib.html#Foster2017">bib</a>&nbsp;| 
<a href="https://www.orau.gov/smarthp2016/Final-report.pdf">.pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="MamBalCho2017">2</a>]
</td>
<td class="bibtexitem" align="justify">
A.&nbsp;Mametjanov, P.&nbsp;Balaprakash, C.&nbsp;Choudary, P.&nbsp;D. Hovland, S.&nbsp;M. Wild,
  G.&nbsp;Sabin, and G.&nbsp;Wolfe.
 Improving FPGA design parameter exploration: Timing, power, and
  area.
 2017.
[&nbsp;<a href="pbalapra-bibtex_bib.html#MamBalCho2017">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="ChuBalMorVisKum2017">3</a>]
</td>
<td class="bibtexitem" align="justify">
S.&nbsp;Chunduri, P.&nbsp;Balaprakash, V.&nbsp;Morozov, V.&nbsp;Vishwanath, and K.&nbsp;Kumaran.
 Analytical performance modeling and validation of intel's xeon phi
  architecture.
 In <em>Proceedings of the Computing Frontiers Conference</em>, CF'17,
  pages 247&ndash;250, New York, NY, USA, 2017. ACM.
[&nbsp;<a href="pbalapra-bibtex_bib.html#ChuBalMorVisKum2017">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1145/3075564.3075593">DOI</a>&nbsp;| 
<a href="http://doi.acm.org/10.1145/3075564.3075593">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="LiuBalKetFos2017">4</a>]
</td>
<td class="bibtexitem" align="justify">
Z.&nbsp;Liu, P.&nbsp;Balaprakash, R.&nbsp;Kettimuthu, and I.&nbsp;Foster.
 Explaining wide area data transfer performance.
 In <em>Proceedings of the 26th International Symposium on
  High-Performance Parallel and Distributed Computing</em>, HPDC '17, pages
  167&ndash;178, New York, NY, USA, 2017. ACM.
 Acceptance rate 19%.
[&nbsp;<a href="pbalapra-bibtex_bib.html#LiuBalKetFos2017">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1145/3078597.3078605">DOI</a>&nbsp;| 
<a href="http://doi.acm.org/10.1145/3078597.3078605">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="MadiBalCarLatRossSnyWil2017">5</a>]
</td>
<td class="bibtexitem" align="justify">
S.&nbsp;Madireddy, P.&nbsp;Balaprakash, P.&nbsp;Carns, R.&nbsp;Latham, R.&nbsp;Ross, S.&nbsp;Snyder, and
  S.&nbsp;M. Wild.
 Analysis and correlation of application I/O performance and
  system-wide I/O activity.
 In <em>2017 International Conference on Networking, Architecture,
  and Storage (NAS)</em>, pages 1&ndash;10, Aug 2017.
 Acceptance rate 33%.
[&nbsp;<a href="pbalapra-bibtex_bib.html#MadiBalCarLatRossSnyWil2017">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1109/NAS.2017.8026844">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="MadiBalCarLat2017">6</a>]
</td>
<td class="bibtexitem" align="justify">
S.&nbsp;Madireddy, P.&nbsp;Balaprakash, P.&nbsp;Carns, R.&nbsp;Latham, R.&nbsp;Ross, S.&nbsp;Snyder, and
  S.&nbsp;Wild.
 Modeling application I/O performance variability: A probabilistic
  graphical model approach, 2017.
[&nbsp;<a href="pbalapra-bibtex_bib.html#MadiBalCarLat2017">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="SubDiBal2017">7</a>]
</td>
<td class="bibtexitem" align="justify">
O.&nbsp;Subasi, S.&nbsp;Di, P.&nbsp;Balaprakash, O.&nbsp;Unsal, J.&nbsp;Labarta, A.&nbsp;Cristal,
  S.&nbsp;Krishnamoorthy, and F.&nbsp;Cappello.
 Macord: Online adaptive machine learning framework for silent error
  detection.
 In <em>In 3rd Workshop on Fault Tolerance Systems (FTS'17)</em>, 2017.
[&nbsp;<a href="pbalapra-bibtex_bib.html#SubDiBal2017">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="WozJaiBal2017">8</a>]
</td>
<td class="bibtexitem" align="justify">
J.&nbsp;Wozniak, R.&nbsp;Jain, P.&nbsp;Balaprakash, J.&nbsp;Ozik, N.&nbsp;Collier, J.&nbsp;Bauer, F.&nbsp;Xia,
  T.&nbsp;Brettin, R.&nbsp;Stevens, J.&nbsp;Mohl-Yusof, B.&nbsp;E. C.&nbsp;Cardona, and M.&nbsp;Baughman.
 CANDLE/Supervisor: A workflow framework for machine learning
  applied to cancer research.
 <em>In review</em>, 2017.
[&nbsp;<a href="pbalapra-bibtex_bib.html#WozJaiBal2017">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="MalBalVisMorKum2017">9</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Malakar, P.&nbsp;Balaprakash, V.&nbsp;Vishwanath, V.&nbsp;Morozov, and K.&nbsp;Kumaran.
 Machine learning based performance modeling of scientific
  applications on hpc platforms.
 <em>In review</em>, 2017.
[&nbsp;<a href="pbalapra-bibtex_bib.html#MalBalVisMorKum2017">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="MunBal2017">10</a>]
</td>
<td class="bibtexitem" align="justify">
T.&nbsp;Munson and P.&nbsp;Balaprakash.
 Dynamic Adversarial Games in Complex Systems and Machine Learning.
 8 2017.
[&nbsp;<a href="pbalapra-bibtex_bib.html#MunBal2017">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.6084/m9.figshare.5334208.v1">DOI</a>&nbsp;| 
<a href="https://figshare.com/articles/Dynamic_Adversarial_Games_in_Complex_Systems_and_Machine_Learning/5334208">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalMorWilVisKumAll2016">11</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, V.&nbsp;Morozov, S.&nbsp;M. Wild, H.&nbsp;Finkel, V.&nbsp;Vishwanath, and
  K.&nbsp;Kumaran.
 End-to-end programming platform for neuromorphic computing systems
  using leadership-class machines.
 White Paper, 2016.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalMorWilVisKumAll2016">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="RoyBalHovWil2016">12</a>]
</td>
<td class="bibtexitem" align="justify">
A.&nbsp;Roy, P.&nbsp;Balaprakash, P.&nbsp;D. Hovland, and S.&nbsp;M. Wild.
 Exploiting performance portability in search algorithms for
  autotuning.
 In <em>2016 IEEE International Parallel and Distributed Processing
  Symposium Workshops (IPDPSW)</em>, pages 1535&ndash;1544, 2016.
[&nbsp;<a href="pbalapra-bibtex_bib.html#RoyBalHovWil2016">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1109/IPDPSW.2016.85">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Symons2016">13</a>]
</td>
<td class="bibtexitem" align="justify">
C.&nbsp;Symons, R.&nbsp;Sukumar, W.&nbsp;Joubert, R.&nbsp;Kannan, C.&nbsp;Steed, A.&nbsp;Ramanathan,
  P.&nbsp;Balaprakash, V.&nbsp;Vishwanath, S.&nbsp;Wild, F.&nbsp;Xia, J.&nbsp;Brase, B.&nbsp;Chen, and
  W.&nbsp;Davis.
 Co-design center supporting scientific discovery through
  structure-based machine learning.
 Exascale Computing Project White Paper, 2016.
[&nbsp;<a href="pbalapra-bibtex_bib.html#Symons2016">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="MoaBalRouWil2016">14</a>]
</td>
<td class="bibtexitem" align="justify">
A.&nbsp;Moawad, P.&nbsp;Balaprakash, A.&nbsp;Rousseau, and S.&nbsp;M. Wild.
 Novel large scale simulation process to support DOT's CAFE
  modeling system.
 <em>International Journal of Automotive Technology</em>,
  17(6):1067&ndash;1077, 2016.
[&nbsp;<a href="pbalapra-bibtex_bib.html#MoaBalRouWil2016">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/s12239-016-0104-z">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalTiwWilHov2016">15</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, A.&nbsp;Tiwari, S.&nbsp;M. Wild, and P.&nbsp;D. Hovland.
 AutoMOMML: Automatic Multi-objective Modeling with Machine
  Learning.
 In M.&nbsp;J. Kunkel, P.&nbsp;Balaji, and J.&nbsp;Dongarra, editors, <em>High
  Performance Computing: 31st International Conference, ISC High Performance
  2016, Frankfurt, Germany, June 19-23, 2016, Proceedings</em>, pages 219&ndash;239.
  Springer International Publishing, 2016.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalTiwWilHov2016">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-41321-1_12">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalMorKetKumFos2016">16</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, V.&nbsp;Morozov, R.&nbsp;Kettimuthu, K.&nbsp;Kumaran, and I.&nbsp;Foster.
 Improving data transfer throughput with direct search optimization.
 In <em>2016 45th International Conference on Parallel Processing
  (ICPP)</em>, pages 248&ndash;257, 2016.
 Acceptance rate 21.10%.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalMorKetKumFos2016">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1109/ICPP.2016.36">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="ChoAgrLiaBalRosWil2016">17</a>]
</td>
<td class="bibtexitem" align="justify">
A.&nbsp;Choudhary, A.&nbsp;Agrawal, W.&nbsp;Liao, P.&nbsp;Balaprakash, R.&nbsp;Ross, and S.&nbsp;Wild.
 High performance deep machine learning software for exascale
  applications.
 Exascale Computing Project White Paper, 2016.
[&nbsp;<a href="pbalapra-bibtex_bib.html#ChoAgrLiaBalRosWil2016">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="HalWilStrBalQui2016">18</a>]
</td>
<td class="bibtexitem" align="justify">
M.&nbsp;Hall, S.&nbsp;Williams, B.&nbsp;van Straalen, P.&nbsp;Balaprakash, and D.&nbsp;Quinlan.
 Autotuning compiler technology for cross-architecture transformation
  and code generation.
 Exascale Computing Project White Paper, 2016.
[&nbsp;<a href="pbalapra-bibtex_bib.html#HalWilStrBalQui2016">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="SubDiBauBal2016">19</a>]
</td>
<td class="bibtexitem" align="justify">
O.&nbsp;Subasi, S.&nbsp;Di, L.&nbsp;Bautista-Gomez, P.&nbsp;Balaprakash, O.&nbsp;Unsal, J.&nbsp;Labarta,
  A.&nbsp;Cristal, and F.&nbsp;Cappello.
 Spatial support vector regression to detect silent errors in the
  exascale era.
 In <em>2016 16th IEEE/ACM International Symposium on Cluster, Cloud
  and Grid Computing (CCGrid)</em>, pages 413&ndash;424, 2016.
 Acceptance rate 20.0%.
[&nbsp;<a href="pbalapra-bibtex_bib.html#SubDiBauBal2016">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1109/CCGrid.2016.33">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="berry2015ml">20</a>]
</td>
<td class="bibtexitem" align="justify">
M.&nbsp;Berry, T.&nbsp;E. Potok, P.&nbsp;Balaprakash, H.&nbsp;Hoffmann, R.&nbsp;Vatsavai, and Prabhat.
 Machine learning and understanding for intelligent extreme scale
  scientific computing and discovery.
 Technical report, DOE ASCR Workshop Report, 2015.
[&nbsp;<a href="pbalapra-bibtex_bib.html#berry2015ml">bib</a>&nbsp;| 
<a href="http://science.energy.gov/~/media/ascr/pdf/program-documents/docs/Machine_Learning_DOE_Workshop_Report.pdf">.pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalBirSto15">21</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, M.&nbsp;Birattari, T.&nbsp;St&uuml;tzle, and M.&nbsp;Dorigo.
 Estimation-based metaheuristics for the single vehicle routing
  problem with stochastic demands and customers.
 <em>Computational Optimization and Applications</em>, 61(2):463&ndash;487,
  2015.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalBirSto15">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/s10589-014-9719-z">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="MamBalCho2015">22</a>]
</td>
<td class="bibtexitem" align="justify">
A.&nbsp;Mametjanov, P.&nbsp;Balaprakash, C.&nbsp;Choudary, P.&nbsp;D. Hovland, S.&nbsp;M. Wild, and
  G.&nbsp;Sabin.
 Autotuning FPGA design parameters for performance and power.
 In <em>2015 IEEE 23rd Annual International Symposium on
  Field-Programmable Custom Computing Machines (FCCM)</em>, pages 84&ndash;91, 2015.
 Acceptance rate 22.10%.
[&nbsp;<a href="pbalapra-bibtex_bib.html#MamBalCho2015">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1109/FCCM.2015.54">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalGomBou15">23</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, L.&nbsp;A.&nbsp;B. Gomez, M.&nbsp;S. Bouguerra, S.&nbsp;M. Wild, F.&nbsp;Cappello, and
  P.&nbsp;D. Hovland.
 Analysis of the tradeoffs between energy and run time for multilevel
  checkpointing.
 In S.&nbsp;A. Jarvis, S.&nbsp;A. Wright, and S.&nbsp;D. Hammond, editors, <em>High
  Performance Computing Systems. Performance Modeling, Benchmarking, and
  Simulation &ndash; PMBS 2014</em>, volume 8966 of <em>Lecture Notes in Computer
  Science</em>, pages 249&ndash;263. Springer International Publishing, 2015.
 Acceptance rate 26%.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalGomBou15">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-17248-4_13">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="NelRivBal2015">24</a>]
</td>
<td class="bibtexitem" align="justify">
T.&nbsp;Nelson, A.&nbsp;Rivera, P.&nbsp;Balaprakash, M.&nbsp;Hall, P.&nbsp;D. Hovland, E.&nbsp;Jessup, and
  B.&nbsp;Norris.
 Generating efficient tensor contractions for GPUs.
 In <em>2015 44th International Conference on Parallel Processing
  (ICPP)</em>, pages 969&ndash;978, 2015.
 Acceptance rate 32.5%.
[&nbsp;<a href="pbalapra-bibtex_bib.html#NelRivBal2015">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1109/ICPP.2015.106">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalAleMic15">25</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, Y.&nbsp;Alexeev, S.&nbsp;A. Mickelson, S.&nbsp;Leyffer, R.&nbsp;Jacob, and
  A.&nbsp;Craig.
 Machine-learning-based load balancing for community ice code
  component in CESM.
 In M.&nbsp;Dayd&eacute;, O.&nbsp;Marques, and K.&nbsp;Nakajima, editors, <em>High
  Performance Computing for Computational Science &ndash; VECPAR 2014, Revised
  Selected Papers</em>, volume 8969 of <em>Lecture Notes in Computer Science</em>,
  pages 79&ndash;91. Springer International Publishing, 2015.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalAleMic15">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-17353-5_7">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="IsaBalWil2015">26</a>]
</td>
<td class="bibtexitem" align="justify">
F.&nbsp;Isaila, P.&nbsp;Balaprakash, S.&nbsp;M. Wild, D.&nbsp;Kimpe, R.&nbsp;Latham, R.&nbsp;Ross, and P.&nbsp;D.
  Hovland.
 Collective I/O tuning using analytical and machine learning models.
 In <em>2015 IEEE International Conference on Cluster Computing
  (CLUSTER)</em>, pages 128&ndash;137. IEEE, 2015.
 Acceptance rate 24%.
[&nbsp;<a href="pbalapra-bibtex_bib.html#IsaBalWil2015">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1109/CLUSTER.2015.29">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="MoaBalRouWil2015">27</a>]
</td>
<td class="bibtexitem" align="justify">
A.&nbsp;Moawad, P.&nbsp;Balaprakash, A.&nbsp;Rousseau, and S.&nbsp;M. Wild.
 Novel large scale simulation process to support DOT's CAFE
  modeling system.
 In <em>International Electric Vehicle Symposium and Exhibition
  (EVS28)</em>, 2015.
[&nbsp;<a href="pbalapra-bibtex_bib.html#MoaBalRouWil2015">bib</a>&nbsp;| 
<a href="http://www.mcs.anl.gov/papers/P5292-0215.pdf">.pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalTiwWil2014b">28</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, A.&nbsp;Tiwari, and S.&nbsp;M. Wild.
 Framework for optimizing power, energy, and performance.
 In <em>The SUPER Project Newsletter</em>, 2014.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalTiwWil2014b">bib</a>&nbsp;| 
<a href="http://www.super-scidac.org/sites/super-scidac.org/files/SUPERNEWSLETTERApril2014final_0.pdf">.pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalMorWilVisHovKumAll2014">29</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, V.&nbsp;Morozov, S.&nbsp;M. Wild, V.&nbsp;Vishwanath, P.&nbsp;D. Hovland,
  K.&nbsp;Kumaran, and B.&nbsp;Allcock.
 Machine learning for self-adaptive leadership-class machines.
 White Paper, 2014.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalMorWilVisHovKumAll2014">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="MoaHalPagRouBalWild2014">30</a>]
</td>
<td class="bibtexitem" align="justify">
A.&nbsp;Moawad, S.&nbsp;Halbach, S.&nbsp;Pagerit, A.&nbsp;Rousseau, P.&nbsp;Balaprakash, and S.&nbsp;Wild.
 Novel process to use vehicle simulations directly as inputs to DOTs
  CAFE modeling system.
 Technical Report ANL/ESD-13/13, Report to Department of
  Transportation, 2014.
[&nbsp;<a href="pbalapra-bibtex_bib.html#MoaHalPagRouBalWild2014">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalTiwWil2014">31</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, A.&nbsp;Tiwari, and S.&nbsp;M. Wild.
 Multi objective optimization of HPC kernels for performance, power,
  and energy.
 In S.&nbsp;A. Jarvis, S.&nbsp;A. Wright, and S.&nbsp;D. Hammond, editors, <em>High
  Performance Computing Systems. Performance Modeling, Benchmarking and
  Simulation &ndash; PMBS 2013</em>, Lecture Notes in Computer Science, pages 239&ndash;260.
  Springer International Publishing, 2014.
 Acceptance rate 30%.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalTiwWil2014">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-319-10214-6_12">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalAleMicLeyJacCra2014">32</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, Y.&nbsp;Alexeev, S.&nbsp;Mickelson, S.&nbsp;Leyffer, R.&nbsp;Jacob, and A.&nbsp;Craig.
 Machine-learning-based load balancing for community ice code
  component in CESM.
 In <em>11th International Meeting on High-Performance Computing for
  Computational Science (VECPAR 2014)</em>, 2014.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalAleMicLeyJacCra2014">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="ZhaBalMenMorParKum2014">33</a>]
</td>
<td class="bibtexitem" align="justify">
Y.&nbsp;Zhang, P.&nbsp;Balaprakash, J.&nbsp;Meng, V.&nbsp;Morozov, S.&nbsp;Parker, and K.&nbsp;Kumaran.
 Raexplore: Enabling rapid, automated architecture exploration for
  full applications.
 Technical Report ANL/ALCF/TM-14/2, Argonne National Laboratory, 2014.
[&nbsp;<a href="pbalapra-bibtex_bib.html#ZhaBalMenMorParKum2014">bib</a>&nbsp;| 
<a href="http://www.ipd.anl.gov/anlpubs/2014/12/110907.pdf">.pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalBunChaGhuChi2013a">34</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, D.&nbsp;Buntinas, A.&nbsp;Chan, A.&nbsp;Guha, R.&nbsp;Gupta, S.&nbsp;H.&nbsp;K. Narayanan,
  A.&nbsp;A. Chien, P.&nbsp;Hovland, and B.&nbsp;Norris.
 Exascale workload characterization and architecture implications.
 In <em>Proceedings of the High Performance Computing Symposium</em>, HPC
  '13, pages 5:1&ndash;5:8, San Diego, CA, USA, 2013. Society for Computer
  Simulation International.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalBunChaGhuChi2013a">bib</a>&nbsp;| 
<a href="http://dl.acm.org/citation.cfm?id=2499968.2499973">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalWilHov2013a">35</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, S.&nbsp;M. Wild, and P.&nbsp;D. Hovland.
 Performance modeling for exascale autotuning: An integrated
  approach.
 White Paper, 2013.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalWilHov2013a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalWilHov2013">36</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, S.&nbsp;M. Wild, and P.&nbsp;D. Hovland.
 An experimental study of global and local search algorithms in
  empirical performance tuning.
 In <em>High Performance Computing for Computational Science - VECPAR
  2012, 10th International Conference, Revised Selected Papers</em>, Lecture Notes
  in Computer Science, pages 261&ndash;269. Springer, 2013.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalWilHov2013">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-642-38718-0_26">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalBunChaGhuChi2013a1">37</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, D.&nbsp;Buntinas, A.&nbsp;Chan, A.&nbsp;Guha, R.&nbsp;Gupta, S.&nbsp;Narayanan,
  A.&nbsp;Chien, P.&nbsp;Hovland, and B.&nbsp;Norris.
 Exascale workload characterization and architecture implications.
 In <em>Proceedings of the High Performance Computing Symposium</em>, HPC
  '13, pages 5:1&ndash;5:8, San Diego, CA, USA, 2013. Society for Computer
  Simulation International.
 Best Paper Award.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalBunChaGhuChi2013a1">bib</a>&nbsp;| 
<a href="http://dl.acm.org/citation.cfm?id=2499968.2499973">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalGraWil2013">38</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, R.&nbsp;B. Gramacy, and S.&nbsp;M. Wild.
 Active-learning-based surrogate models for empirical performance
  tuning.
 In <em>2013 IEEE International Conference on Cluster Computing
  (CLUSTER)</em>, pages 1&ndash;8, 2013.
 Acceptance rate 31%.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalGraWil2013">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1109/CLUSTER.2013.6702683">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalRupMamGraHovWil2013">39</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, K.&nbsp;Rupp, A.&nbsp;Mametjanov, R.&nbsp;B. Gramacy, P.&nbsp;D. Hovland, and S.&nbsp;M.
  Wild.
 Empirical performance modeling of GPU kernels using active
  learning.
 In <em>Parallel Computing: Accelerating Computational Science and
  Engineering (ParCo2013)</em>, Advances in Parallel Computing, pages 646&ndash;655,
  2013.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalRupMamGraHovWil2013">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.3233/978-1-61499-381-0-646">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalWilHov2012b">40</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, S.&nbsp;M. Wild, and P.&nbsp;D. Hovland.
 Efficient optimization algorithms for empirical performance tuning.
 SIAM Conference on Parallel Processing (SIAM PP 2012), 2012.
 Abstract.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalWilHov2012b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalLil2012a">41</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash and O.&nbsp;A. Lilienfeld.
 A sequential learning approach for quantum chemistry simulations.
 In <em>IPAM Chemical Compound Space Reunion</em>, 2012.
 Invited Abstract.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalLil2012a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalWilNor2012">42</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, S.&nbsp;M. Wild, and B.&nbsp;Norris.
 SPAPT: Search Problems in Automatic Performance Tuning.
 In <em>Proceedings of the International Conference on Computational
  Science, ICCS 2012</em>, volume&nbsp;9, pages 1959&ndash;1968, 2012.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalWilNor2012">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1016/j.procs.2012.04.214">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalWilHov2011b">43</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, S.&nbsp;M. Wild, and P.&nbsp;D. Hovland.
 Model-based optimization algorithms for empirical performance tuning.
 2011 DOE Applied Mathematics Program Meeting, Washington, DC, 2011.
 Abstract.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalWilHov2011b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalWilHov2012a">44</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, S.&nbsp;M. Wild, and P.&nbsp;D. Hovland.
 Global and local search algorithms in empirical performance tuning.
 DOE CScADS Workshop on Libraries and Autotuning for Extreme-Scale
  Systems, 2011.
 Abstract.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalWilHov2012a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="NorZhuNelBalWil2011a">45</a>]
</td>
<td class="bibtexitem" align="justify">
B.&nbsp;Norris, Q.&nbsp;Zhu, T.&nbsp;Nelson, P.&nbsp;Balaprakash, and S.&nbsp;M. Wild.
 Comparison of search strategies in empirical performance tuning of
  linear algebra kernels.
 2011 SIAM Conference on Computational Science and Engineering, 2011.
 Abstract.
[&nbsp;<a href="pbalapra-bibtex_bib.html#NorZhuNelBalWil2011a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalWilHov2011a">46</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, S.&nbsp;M. Wild, and P.&nbsp;D. Hovland.
 Can search algorithms save large-scale automatic performance tuning?
 In <em>Proceedings of the International Conference on Computational
  Science, ICCS 2011</em>, volume&nbsp;4, pages 2136&ndash;2145, 2011.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalWilHov2011a">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1016/j.procs.2011.04.234">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2010b">47</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 <em>Estimation-based metaheuristics for stochastic combinatorial
  optimization: Case studies in stochastic routing problems</em>.
 PhD thesis, Universit&eacute; Libre de Bruxelles, 2010.
[&nbsp;<a href="pbalapra-bibtex_bib.html#Bal2010b">bib</a>&nbsp;| 
<a href="http://iridia.ulb.ac.be/~mdorigo/HomePageDorigo/thesis/phd/PBalaprakashPhDThesis.pdf">.pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BirZhiBalStu2010">48</a>]
</td>
<td class="bibtexitem" align="justify">
M.&nbsp;Birattari, Z.&nbsp;Yuan, P.&nbsp;Balaprakash, and T.&nbsp;St&uuml;tzle.
 F-Race and Iterated F-Race: An Overview.
 In T.&nbsp;Bartz-Beielstein, M.&nbsp;Chiarandini, L.&nbsp;Paquete, and M.&nbsp;Preuss,
  editors, <em>Experimental Methods for the Analysis of Optimization
  Algorithms</em>, pages 311&ndash;336. Springer Berlin Heidelberg, 2010.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BirZhiBalStu2010">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-642-02538-9_13">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalBirStuDor2010b">49</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, M.&nbsp;Birattari, T.&nbsp;St&uuml;tzle, and M.&nbsp;Dorigo.
 Estimation-based metaheuristics for the probabilistic traveling
  salesman problem.
 <em>Computers &amp; Operations Research</em>, 37(11):1939&ndash;1951, 2010.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalBirStuDor2010b">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1016/j.cor.2009.12.005">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2010a">50</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Estimation-based metaheuristics for stochastic combinatorial
  optimization: Case studies in stochastic routing problems.
 In <em>SIGEVOlution Newsletter</em>, volume&nbsp;5, pages 18&ndash;19, New York,
  NY, USA, 2010. ACM.
[&nbsp;<a href="pbalapra-bibtex_bib.html#Bal2010a">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1145/1811155.1811157">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalBirStuDor2010a">51</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, M.&nbsp;Birattari, T.&nbsp;Stutzle, and M.&nbsp;Dorigo.
 Effective estimation-based stochastic local search algorithms for
  stochastic routing problems.
 In <em>Proceedings of ORBEL 24, 24th Annual Conference of the
  Belgian Operations Research Society</em>, pages 136&ndash;137, 2010.
 Extended Abstract.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalBirStuDor2010a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalBirStuDor2009">52</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, M.&nbsp;Birattari, T.&nbsp;St&uuml;tzle, and M.&nbsp;Dorigo.
 Adaptive sample size and importance sampling in estimation-based
  local search for the probabilistic traveling salesman problem.
 <em>European Journal of Operational Research</em>, 199(1):98 &ndash; 110,
  2009.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalBirStuDor2009">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1016/j.ejor.2008.11.027">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalBirStuZhiDor2009">53</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, M.&nbsp;Birattari, T.&nbsp;St&uuml;tzle, Z.&nbsp;Yuan, and M.&nbsp;Dorigo.
 Estimation-based ant colony optimization and local search for the
  probabilistic traveling salesman problem.
 <em>Swarm Intelligence</em>, 3(3):223&ndash;242, 2009.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalBirStuZhiDor2009">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/s11721-009-0031-y">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BirZhiBalStu2009">54</a>]
</td>
<td class="bibtexitem" align="justify">
M.&nbsp;Birattari, Z.&nbsp;Yuan, P.&nbsp;Balaprakash, and T.&nbsp;St&uuml;tzle.
 Automated algorithm tuning using F-Races: Recent developments.
 In S.&nbsp;Voss and M.&nbsp;Caserta, editors, <em>MIC 2009: The 8th
  Metaheuristics International Conference</em>, volume proceedings on CD-ROM, page
  10 pages, 2009.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BirZhiBalStu2009">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BirBalStuDor2008d">55</a>]
</td>
<td class="bibtexitem" align="justify">
M.&nbsp;Birattari, P.&nbsp;Balaprakash, T.&nbsp;St&uuml;tzle, and M.&nbsp;Dorigo.
 Estimation-based local search for stochastic combinatorial
  optimization using delta evaluations: A case study on the probabilistic
  traveling salesman problem.
 <em>INFORMS Journal on Computing</em>, 20(4):644&ndash;658, 2008.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BirBalStuDor2008d">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1287/ijoc.1080.0276">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalBirStu2008c">56</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, M.&nbsp;Birattari, and T.&nbsp;St&uuml;tzle.
 Engineering stochastic local search algorithms: A case study in
  estimation-based local search for the probabilistic travelling salesman
  problem.
 In C.&nbsp;Cotta and J.&nbsp;van Hemert, editors, <em>Recent Advances in
  Evolutionary Computation for Combinatorial Optimization</em>, volume 153 of <em>
  Studies in Computational Intelligence</em>, pages 53&ndash;66. Springer Berlin
  Heidelberg, 2008.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalBirStu2008c">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-540-70807-0_4">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="ZhiFugHomBalStuSch2008">57</a>]
</td>
<td class="bibtexitem" align="justify">
Z.&nbsp;Yuan, A.&nbsp;F&uuml;genschuh, H.&nbsp;Homfeld, P.&nbsp;Balaprakash, T.&nbsp;St&uuml;tzle, and
  M.&nbsp;Schoch.
 Iterated greedy algorithms for a real-world cyclic train scheduling
  problem.
 In M.&nbsp;J. Blesa, C.&nbsp;Blum, C.&nbsp;Cotta, A.&nbsp;Fern&aacute;ndez, J.&nbsp;Gallardo,
  A.&nbsp;Roli, and M.&nbsp;Sampels, editors, <em>Hybrid Metaheuristics</em>, volume 5296 of
  <em>Lecture Notes in Computer Science</em>, pages 102&ndash;116. Springer Berlin
  Heidelberg, 2008.
[&nbsp;<a href="pbalapra-bibtex_bib.html#ZhiFugHomBalStuSch2008">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-540-88439-2_8">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalBirStuDor2008b">58</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, M.&nbsp;Birattari, T.&nbsp;St&uuml;tzle, and M.&nbsp;Dorigo.
 Applications of estimation-based SLS algorithms to the stochastic
  routing problems.
 In P.&nbsp;Hansen and S.&nbsp;Voss, editors, <em>Metaheuristics 2008, Second
  International Workshop on Model Based Metaheuristics</em>, 2008.
 Extended Abstract.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalBirStuDor2008b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalBirStuDor2008a">59</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, M.&nbsp;Birattari, T.&nbsp;Stutzle, and M.&nbsp;Dorigo.
 Estimation-based stochastic local search algorithms for the
  stochastic routing problems.
 In E.-G. Talbi and K.&nbsp;Mellouli, editors, <em>International
  Conference on Metaheuristics and Nature Inspired Computing, META'08</em>, 2008.
 Extended Abstract.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalBirStuDor2008a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="TolBal2008">60</a>]
</td>
<td class="bibtexitem" align="justify">
G.&nbsp;Di&nbsp;Tollo and P.&nbsp;Balaprakash.
 Index tracking by estimation-based local search.
 In A.&nbsp;Amendola, D.&nbsp;Belsley, E.&nbsp;Kontoghiorghes, and M.&nbsp;Paolella,
  editors, <em>Second International Workshop on Computational and Financial
  Econometrics, CFE'08</em>, 2008.
 Abstract.
[&nbsp;<a href="pbalapra-bibtex_bib.html#TolBal2008">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalBirStu2007">61</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, M.&nbsp;Birattari, and T.&nbsp;St&uuml;tzle.
 Improvement strategies for the F-Race algorithm: Sampling design
  and iterative refinement.
 In T.&nbsp;Bartz-Beielstein, M.&nbsp;Blesa&nbsp;Aguilera, C.&nbsp;Blum, B.&nbsp;Naujoks,
  A.&nbsp;Roli, G.&nbsp;Rudolph, and M.&nbsp;Sampels, editors, <em>Hybrid Metaheuristics</em>,
  volume 4771 of <em>Lecture Notes in Computer Science</em>, pages 108&ndash;122.
  Springer Berlin Heidelberg, 2007.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalBirStu2007">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-3-540-75514-2_9">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BirBalDor2007">62</a>]
</td>
<td class="bibtexitem" align="justify">
M.&nbsp;Birattari, P.&nbsp;Balaprakash, and M.&nbsp;Dorigo.
 The ACO/F-Race algorithm for combinatorial optimization under
  uncertainty.
 In K.&nbsp;F. Doerner, M.&nbsp;Gendreau, P.&nbsp;Greistorfer, W.&nbsp;Gutjahr, R.&nbsp;F.
  Hartl, and M.&nbsp;Reimann, editors, <em>Metaheuristics - Progress in Complex
  Systems Optimization</em>, volume&nbsp;39 of <em>Operations Research/Computer Science
  Interfaces Series</em>, pages 189&ndash;203. Springer US, 2007.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BirBalDor2007">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/978-0-387-71921-4_10">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalBirStuDor2007c">63</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, M.&nbsp;Birattari, T.&nbsp;St&uuml;tzle, and M.&nbsp;Dorigo.
 An experimental study of estimation-based metaheuristics for the
  probabilistic traveling salesman problem.
 In V.&nbsp;Maniezzo, R.&nbsp;Battiti, and J.-P. Watson, editors, <em>LION 2007
  II: Learning and Intelligent Optimization.</em>, pages 8&ndash;12, 2007.
 Extended Abstract.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalBirStuDor2007c">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalBirStuDor2007b">64</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, M.&nbsp;Birattari, T.&nbsp;St&uuml;tzle, and M.&nbsp;Dorigo.
 Sampling strategies and local search for stochastic combinatorial
  optimization.
 In E.&nbsp;Ridge, T.&nbsp;St&uuml;tzle, M.&nbsp;Birattari, and H.&nbsp;H. Hoos, editors,
  <em>SLS-DS 2007: Doctoral Symposium on Engineering Stochastic Local Search
  Algorithms</em>, pages 16&ndash;20, 2007.
 Nominated for the best paper award.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalBirStuDor2007b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BirBalStuDor2007a">65</a>]
</td>
<td class="bibtexitem" align="justify">
M.&nbsp;Birattari, P.&nbsp;Balaprakash, T.&nbsp;St&uuml;tzle, and M.&nbsp;Dorigo.
 Estimation-based local search for the probabilistic traveling
  salesman problem.
 In M.&nbsp;Gendreau, T.&nbsp;G. Crainic, L.-M. Rousseau, and P.&nbsp;Soriano,
  editors, <em>Proceedings of MIC 2007</em>, page 141, 2007.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BirBalStuDor2007a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BalBirStuDor2006">66</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, M.&nbsp;Birattari, T.&nbsp;St&uuml;tzle, and M.&nbsp;Dorigo.
 Incremental local search in ant colony optimization: Why it fails
  for the quadratic assignment problem.
 In M.&nbsp;Dorigo, L.&nbsp;Gambardella, M.&nbsp;Birattari, A.&nbsp;Martinoli, R.&nbsp;Poli,
  and T.&nbsp;St&uuml;tzle, editors, <em>Ant Colony Optimization and Swarm
  Intelligence</em>, volume 4150 of <em>Lecture Notes in Computer Science</em>, pages
  156&ndash;166. Springer Berlin Heidelberg, 2006.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BalBirStuDor2006">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1007/11839088_14">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="PraBalReg2005">67</a>]
</td>
<td class="bibtexitem" align="justify">
D.&nbsp;L. Prakash, P.&nbsp;Balaprakash, and D.&nbsp;Regener.
 Computational microstructure analyzing technique for quantitative
  characterization of shrinkage and gas pores in pressure die cast az91
  magnesium alloys.
 <em>Computational Materials Science</em>, 32(3&ndash;4):480&mdash;488, 2005.
[&nbsp;<a href="pbalapra-bibtex_bib.html#PraBalReg2005">bib</a>&nbsp;| 
<a href="http://dx.doi.org/10.1016/j.commatsci.2004.09.017">DOI</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="BirBalDor2005">68</a>]
</td>
<td class="bibtexitem" align="justify">
M.&nbsp;Birattari, P.&nbsp;Balaprakash, and M.&nbsp;Dorigo.
 ACO/F-Race: Ant colony optimization and racing techniques for
  combinatorial optimization under uncertainty.
 In <em>MIC 2005: The 6th Metaheuristics International Conference</em>,
  pages 107&ndash;112. Vienna, Austria: University of Vienna, Department of Business
  Administration, 2005.
[&nbsp;<a href="pbalapra-bibtex_bib.html#BirBalDor2005">bib</a>&nbsp;| 
<a href="http://iridia.ulb.ac.be/mbiro/paperi/BirBalDor2005mic.pdf">.pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2005">69</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Ant colony optimization under uncertainty.
 Master's thesis, Universit&eacute; Libre de Bruxelles, Brussels, Belgium,
  2005.
[&nbsp;<a href="pbalapra-bibtex_bib.html#Bal2005">bib</a>&nbsp;| 
<a href="http://iridia.ulb.ac.be/IridiaTrSeries/rev/IridiaTr2005-028r001.pdf">.pdf</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2004">70</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Pre-processing of stochastic Petri nets and an improved storage
  strategy for proxel based simulation.
 Master's thesis, Otto-von-Guericke-Universit&auml;t Magdeburg, 2004.
[&nbsp;<a href="pbalapra-bibtex_bib.html#Bal2004">bib</a>&nbsp;| 
<a href="http://wwwisg.cs.ovgu.de/sim/files/theses/Prasanna.Balaprakash-MasterThesis.pdf">.pdf</a>&nbsp;]

</td>
</tr>
</table>