<h1>pbalapra-bibtex.bib</h1><a name="WozBMC18"></a><pre>
@article{<a href="pbalapra-bibtex.html#WozBMC18">WozBMC18</a>,
  author = {Justin M. Wozniak and Rajeev Jain and Prasanna Balaprakash and Jonathan Ozik and Nicholson T. Collier and John Bauer and Fangfang Xia and Thomas S. Brettin and Rick Stevens and Jamaludin Mohd{-}Yusof and Cristina Garcia{-}Cardona and Brian Van Essen and Matthew Baughman},
  date-added = {2019-01-19 20:10:02 +0000},
  date-modified = {2019-01-19 20:10:36 +0000},
  doi = {10.1186/s12859-018-2508-4},
  journal = {{BMC} Bioinformatics},
  number = {18},
  pages = {59--69},
  title = {CANDLE/Supervisor: a workflow framework for machine learning applied to cancer research},
  url = {https://doi.org/10.1186/s12859-018-2508-4},
  volume = {19-S},
  year = {2018},
  bdsk-url-1 = {https://doi.org/10.1186/s12859-018-2508-4},
  bdsk-url-2 = {<a href="http://dx.doi.org/10.1186/s12859-018-2508-4">http://dx.doi.org/10.1186/s12859-018-2508-4</a>}
}
</pre>

<a name="LiuKetBalFos2018"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#LiuKetBalFos2018">LiuKetBalFos2018</a>,
  author = {Zhengchun Liu and Rajkumar Kettimuthu and Prasanna Balaprakash and Ian Foster},
  booktitle = {the 1st International Conference on Machine Learning for Networking},
  date-added = {2019-01-19 20:05:12 +0000},
  date-modified = {2019-01-19 20:05:42 +0000},
  location = {Paris, France},
  numpages = {20},
  publisher = {Springer},
  series = {MLN 2018},
  title = {Building a Wide-Area Data Transfer Performance Predictor: An Empirical Study},
  year = {2018}
}
</pre>

<a name="Madireddy_cluster2018"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#Madireddy_cluster2018">Madireddy_cluster2018</a>,
  author = {Madireddy, Sandeep and Balaprakash, Prasanna and Carns, Philip and Latham, Robert and Ross, Robert and Snyder, Shane and Wild, Stefan M},
  booktitle = {2018 IEEE International Conference on Cluster Computing (CLUSTER)},
  date-added = {2018-09-28 18:32:33 +0000},
  date-modified = {2018-09-28 18:34:19 +0000},
  title = {Modeling I/O Performance Variability Using Conditional Variational Autoencoders},
  year = {2018}
}
</pre>

<a name="Madireddy_pdsw2018"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#Madireddy_pdsw2018">Madireddy_pdsw2018</a>,
  author = {Madireddy, Sandeep and Balaprakash, Prasanna and Carns, Philip and Latham, Robert and Lockwood, Glenn K and Ross, Robert and Snyder, Shane and Wild, Stefan M},
  booktitle = {In Review},
  date-added = {2018-09-28 18:32:33 +0000},
  date-modified = {2019-01-19 20:42:27 +0000},
  title = {Online Change Point Detection and Adaptive Predictive Modeling of I/O Performance},
  year = {2018}
}
</pre>

<a name="MalBalVis2018"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#MalBalVis2018">MalBalVis2018</a>,
  author = {P. Malakar and P. Balaprakash and V. Vishwanath and V. Morozov and K. Kumaran},
  booktitle = {{PMBS 2018:} Performance Modeling, Benchmarking and Simulation of High Performance Computer Systems (held in conjunction with SC18)},
  date-added = {2018-09-28 15:28:38 +0000},
  date-modified = {2018-09-28 15:33:05 +0000},
  title = {Benchmarking Machine Learning Methods for Performance Modeling of Scientific Applications},
  year = {2018}
}
</pre>

<a name="BalLarWil2018"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalLarWil2018">BalLarWil2018</a>,
  author = {P. Balaprakash and J. Larson and V. Vishwanath and S. Wild},
  booktitle = {{SciML 2018: DOE ASCR Scientific Machine Learning Workshop}},
  date-added = {2018-09-28 14:50:35 +0000},
  date-modified = {2018-09-28 14:53:08 +0000},
  title = {Derivative-Free Mixed-Integer Optimization for Automated Predictive Modeling using Machine Learning},
  year = {2018}
}
</pre>

<a name="SalUraChil2018"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#SalUraChil2018">SalUraChil2018</a>,
  author = {M. Salim and T. Uram and J. Childers and P. Balaprakash and V. Vishwanath and M. Papka},
  booktitle = {Python for High-Performance and Scientific Computing (held in conjunction with SC18)},
  date-added = {2018-09-28 14:39:50 +0000},
  date-modified = {2019-01-19 20:07:01 +0000},
  title = {Balsam: Automated Scheduling and Execution of Dynamic, Data-Intensive HPC Workflows},
  year = {2018}
}
</pre>

<a name="LeeAgrBal2018"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#LeeAgrBal2018">LeeAgrBal2018</a>,
  author = {S. Lee and A. Agrawal and P. Balaprakash and A. Choudhary and W. Liao},
  booktitle = {Machine Learning in HPC (held in conjunction with SC18)},
  date-added = {2018-09-28 14:36:42 +0000},
  date-modified = {2018-09-28 14:39:39 +0000},
  title = {Communication-Efficient Parallelization Strategy for Deep Convolutional Neural Network Training},
  year = {2018}
}
</pre>

<a name="MadBalCar2018"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#MadBalCar2018">MadBalCar2018</a>,
  address = {Cham},
  author = {Madireddy, Sandeep and Balaprakash, Prasanna and Carns, Philip and Latham, Robert and Ross, Robert and Snyder, Shane and Wild, Stefan M.},
  booktitle = {High Performance Computing},
  date-added = {2018-09-28 14:25:46 +0000},
  date-modified = {2019-01-19 22:15:12 +0000},
  isbn = {978-3-319-92040-5},
  pages = {184--204},
  publisher = {Springer International Publishing},
  title = {Machine Learning Based Parallel {I/O} Predictive Modeling: {A} Case Study on {L}ustre File Systems},
  year = {2018}
}
</pre>

<a name="SUBASI2018277"></a><pre>
@article{<a href="pbalapra-bibtex.html#SUBASI2018277">SUBASI2018277</a>,
  author = {Omer Subasi and Sheng Di and Leonardo Bautista-Gomez and Prasanna Balaprakash and Osman Unsal and Jesus Labarta and Adrian Cristal and Sriram Krishnamoorthy and Franck Cappello},
  doi = {https://doi.org/10.1016/j.suscom.2018.01.004},
  issn = {2210-5379},
  journal = {Sustainable Computing: Informatics and Systems},
  pages = {277 - 290},
  title = {Exploring the capabilities of support vector machines in detecting silent data corruptions},
  volume = {19},
  year = {2018},
  bdsk-url-1 = {https://doi.org/10.1016/j.suscom.2018.01.004}
}
</pre>

<a name="BalSalUra2018"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalSalUra2018">BalSalUra2018</a>,
  author = {P. Balaprakash and M. Salim and T. Uram and V. Vishwanath and S. M. Wild},
  booktitle = {25th IEEE International Conference on High Performance Computing, Data, and Analytics},
  date-added = {2018-09-27 17:27:27 +0000},
  date-modified = {2018-09-28 14:35:35 +0000},
  publisher = {IEEE},
  title = {{DeepHyper:} {Asynchronous Hyperparameter Search for Deep Neural Networks}},
  year = {2018}
}
</pre>

<a name="BalDonGamHall2018"></a><pre>
@article{<a href="pbalapra-bibtex.html#BalDonGamHall2018">BalDonGamHall2018</a>,
  author = {P. Balaprakash and J. Dongarra and T. Gamblin and M. Hall and J. K. Hollingsworth and B. Norris and R. Vuduc},
  date-added = {2018-09-27 17:24:41 +0000},
  date-modified = {2018-09-27 17:26:11 +0000},
  doi = {10.1109/JPROC.2018.2841200},
  issn = {0018-9219},
  journal = {Proceedings of the IEEE},
  pages = {1-16},
  title = {Autotuning in High-Performance Computing Applications},
  year = {2018},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1109/JPROC.2018.2841200">http://dx.doi.org/10.1109/JPROC.2018.2841200</a>}
}
</pre>

<a name="Foster2017"></a><pre>
@techreport{<a href="pbalapra-bibtex.html#Foster2017">Foster2017</a>,
  author = {I. Foster and T. Lehman and N. Rao and B. Lyles and P. Balaprakash and K. Perumalla and S. Prowell and R. Vatsavi},
  date-added = {2017-09-27 16:33:14 +0000},
  date-modified = {2017-09-27 16:34:48 +0000},
  institution = {{DOE ASCR Workshop Report}},
  title = {Towards New Generation Intelligent Networking Infrastructure for Distributed Science Environments},
  url = {https://www.orau.gov/smarthp2016/Final-report.pdf},
  year = {2017},
  bdsk-url-1 = {<a href="http://science.energy.gov/~/media/ascr/pdf/program-documents/docs/Machine_Learning_DOE_Workshop_Report.pdf">http://science.energy.gov/~/media/ascr/pdf/program-documents/docs/Machine_Learning_DOE_Workshop_Report.pdf</a>}
}
</pre>

<a name="MamBalCho2017"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#MamBalCho2017">MamBalCho2017</a>,
  author = {A. Mametjanov and P. Balaprakash and C. Choudary and P. D. Hovland and S. M. Wild and G. Sabin and G. Wolfe},
  date-added = {2017-09-27 16:12:28 +0000},
  date-modified = {2017-09-27 16:16:05 +0000},
  title = {Improving {FPGA} Design Parameter Exploration: Timing, Power, and Area},
  year = {2017},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1109/FCCM.2015.54">http://dx.doi.org/10.1109/FCCM.2015.54</a>}
}
</pre>

<a name="ChuBalMorVisKum2017"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#ChuBalMorVisKum2017">ChuBalMorVisKum2017</a>,
  acmid = {3075593},
  address = {New York, NY, USA},
  author = {S. Chunduri and P. Balaprakash and V. Morozov and V. Vishwanath and K. Kumaran},
  booktitle = {Proceedings of the Computing Frontiers Conference},
  date-added = {2017-09-27 15:59:09 +0000},
  date-modified = {2017-09-27 16:00:01 +0000},
  doi = {10.1145/3075564.3075593},
  isbn = {978-1-4503-4487-6},
  keywords = {KNL, analytical modeling, benchmark, performance, projection},
  location = {Siena, Italy},
  numpages = {4},
  pages = {247--250},
  publisher = {ACM},
  series = {CF'17},
  title = {Analytical Performance Modeling and Validation of Intel's Xeon Phi Architecture},
  url = {<a href="http://doi.acm.org/10.1145/3075564.3075593">http://doi.acm.org/10.1145/3075564.3075593</a>},
  year = {2017},
  bdsk-url-1 = {<a href="http://doi.acm.org/10.1145/3075564.3075593">http://doi.acm.org/10.1145/3075564.3075593</a>},
  bdsk-url-2 = {<a href="http://dx.doi.org/10.1145/3075564.3075593">http://dx.doi.org/10.1145/3075564.3075593</a>}
}
</pre>

<a name="LiuBalKetFos2017"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#LiuBalKetFos2017">LiuBalKetFos2017</a>,
  acmid = {3078605},
  address = {New York, NY, USA},
  author = {Z. Liu and P. Balaprakash and R. Kettimuthu and I. Foster},
  booktitle = {Proceedings of the 26th International Symposium on High-Performance Parallel and Distributed Computing},
  date-added = {2017-09-27 15:56:34 +0000},
  date-modified = {2017-09-30 03:05:55 +0000},
  doi = {10.1145/3078597.3078605},
  isbn = {978-1-4503-4699-3},
  location = {Washington, DC, USA},
  note = {Acceptance rate 19\%},
  numpages = {12},
  pages = {167--178},
  publisher = {ACM},
  series = {HPDC '17},
  title = {Explaining Wide Area Data Transfer Performance},
  url = {<a href="http://doi.acm.org/10.1145/3078597.3078605">http://doi.acm.org/10.1145/3078597.3078605</a>},
  year = {2017},
  bdsk-url-1 = {<a href="http://doi.acm.org/10.1145/3078597.3078605">http://doi.acm.org/10.1145/3078597.3078605</a>},
  bdsk-url-2 = {<a href="http://dx.doi.org/10.1145/3078597.3078605">http://dx.doi.org/10.1145/3078597.3078605</a>}
}
</pre>

<a name="MadiBalCarLatRossSnyWil2017"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#MadiBalCarLatRossSnyWil2017">MadiBalCarLatRossSnyWil2017</a>,
  author = {S. Madireddy and P. Balaprakash and P. Carns and R. Latham and R. Ross and S. Snyder and S. M. Wild},
  booktitle = {2017 International Conference on Networking, Architecture, and Storage (NAS)},
  date-added = {2017-09-27 15:44:26 +0000},
  date-modified = {2017-09-30 03:03:47 +0000},
  doi = {10.1109/NAS.2017.8026844},
  month = {Aug},
  note = {Acceptance rate 33\%},
  pages = {1-10},
  title = {Analysis and Correlation of Application {I/O} Performance and System-Wide {I/O} Activity},
  year = {2017},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1109/NAS.2017.8026844">http://dx.doi.org/10.1109/NAS.2017.8026844</a>}
}
</pre>

<a name="MadiBalCarLat2017"></a><pre>
@misc{<a href="pbalapra-bibtex.html#MadiBalCarLat2017">MadiBalCarLat2017</a>,
  author = {S. Madireddy and P. Balaprakash and P. Carns and R. Latham and R. Ross and S. Snyder and S. Wild},
  date-added = {2017-09-27 15:40:13 +0000},
  date-modified = {2017-09-27 16:16:55 +0000},
  title = {Modeling application {I/O} performance variability: A probabilistic graphical model approach},
  year = {2017}
}
</pre>

<a name="SubDiBal2017"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#SubDiBal2017">SubDiBal2017</a>,
  author = {O. Subasi and S. Di and P. Balaprakash and O. Unsal and J. Labarta and A. Cristal and S. Krishnamoorthy and F. Cappello},
  booktitle = {In 3rd Workshop on Fault Tolerance Systems (FTS'17)},
  date-added = {2017-09-27 15:31:50 +0000},
  date-modified = {2017-09-27 16:10:53 +0000},
  title = {MACORD: Online Adaptive Machine Learning Framework for Silent Error Detection},
  year = {2017}
}
</pre>

<a name="WozJaiBal2017"></a><pre>
@article{<a href="pbalapra-bibtex.html#WozJaiBal2017">WozJaiBal2017</a>,
  author = {J. Wozniak and R. Jain and P. Balaprakash and J. Ozik and N. Collier and J. Bauer and F. Xia and T. Brettin and R. Stevens and J. Mohl-Yusof and C. Cardona, B. Essen and M. Baughman},
  date-added = {2017-09-27 15:27:31 +0000},
  date-modified = {2017-09-30 03:09:15 +0000},
  journal = {In review},
  title = {{CANDLE/Supervisor}: A Workflow Framework for Machine Learning Applied to Cancer Research},
  year = {2017}
}
</pre>

<a name="MalBalVisMorKum2017"></a><pre>
@article{<a href="pbalapra-bibtex.html#MalBalVisMorKum2017">MalBalVisMorKum2017</a>,
  author = {P. Malakar and P. Balaprakash and V. Vishwanath and V. Morozov and K. Kumaran},
  date-added = {2017-09-27 15:24:48 +0000},
  date-modified = {2017-09-27 15:26:32 +0000},
  journal = {In review},
  title = {Machine Learning Based Performance Modeling of Scientific Applications on HPC Platforms},
  year = {2017}
}
</pre>

<a name="MunBal2017"></a><pre>
@article{<a href="pbalapra-bibtex.html#MunBal2017">MunBal2017</a>,
  author = {T. Munson and P. Balaprakash},
  date-added = {2017-09-27 15:15:44 +0000},
  date-modified = {2017-09-27 15:16:16 +0000},
  doi = {10.6084/m9.figshare.5334208.v1},
  month = {8},
  title = {{Dynamic Adversarial Games in Complex Systems and Machine Learning}},
  url = {https://figshare.com/articles/Dynamic_Adversarial_Games_in_Complex_Systems_and_Machine_Learning/5334208},
  year = {2017},
  bdsk-url-1 = {https://figshare.com/articles/Dynamic_Adversarial_Games_in_Complex_Systems_and_Machine_Learning/5334208},
  bdsk-url-2 = {<a href="http://dx.doi.org/10.6084/m9.figshare.5334208.v1">http://dx.doi.org/10.6084/m9.figshare.5334208.v1</a>}
}
</pre>

<a name="BalMorWilVisKumAll2016"></a><pre>
@misc{<a href="pbalapra-bibtex.html#BalMorWilVisKumAll2016">BalMorWilVisKumAll2016</a>,
  author = {P. Balaprakash and V. Morozov and S. M. Wild and H. Finkel and V. Vishwanath and K. Kumaran},
  date-added = {2017-01-08 04:01:51 +0000},
  date-modified = {2017-01-09 01:19:18 +0000},
  howpublished = {White Paper},
  title = {End-to-End Programming Platform for Neuromorphic Computing Systems using Leadership-Class Machines},
  year = {2016}
}
</pre>

<a name="BalBunChaGhuChi2013a"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalBunChaGhuChi2013a">BalBunChaGhuChi2013a</a>,
  acmid = {2499973},
  address = {San Diego, CA, USA},
  articleno = {5},
  author = {Balaprakash, Prasanna and Buntinas, Darius and Chan, Anthony and Guha, Apala and Gupta, Rinku and Narayanan, Sri Hari Krishna and Chien, Andrew A. and Hovland, Paul and Norris, Boyana},
  booktitle = {Proceedings of the High Performance Computing Symposium},
  date-added = {2017-01-08 02:46:27 +0000},
  date-modified = {2017-01-08 02:47:06 +0000},
  isbn = {978-1-62748-033-8},
  location = {San Diego, California},
  numpages = {8},
  pages = {5:1--5:8},
  publisher = {Society for Computer Simulation International},
  series = {HPC '13},
  title = {Exascale Workload Characterization and Architecture Implications},
  url = {<a href="http://dl.acm.org/citation.cfm?id=2499968.2499973">http://dl.acm.org/citation.cfm?id=2499968.2499973</a>},
  year = {2013},
  bdsk-url-1 = {<a href="http://dl.acm.org/citation.cfm?id=2499968.2499973">http://dl.acm.org/citation.cfm?id=2499968.2499973</a>}
}
</pre>

<a name="RoyBalHovWil2016"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#RoyBalHovWil2016">RoyBalHovWil2016</a>,
  author = {A. Roy and P. Balaprakash and P. D. Hovland and S. M. Wild},
  booktitle = {2016 IEEE International Parallel and Distributed Processing Symposium Workshops (IPDPSW)},
  date-added = {2017-01-08 01:59:17 +0000},
  date-modified = {2017-01-08 02:39:34 +0000},
  doi = {10.1109/IPDPSW.2016.85},
  pages = {1535-1544},
  title = {Exploiting Performance Portability in Search Algorithms for Autotuning},
  year = {2016},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1109/IPDPSW.2016.85">http://dx.doi.org/10.1109/IPDPSW.2016.85</a>}
}
</pre>

<a name="Symons2016"></a><pre>
@misc{<a href="pbalapra-bibtex.html#Symons2016">Symons2016</a>,
  author = {C. Symons and R. Sukumar and W. Joubert and R. Kannan and C. Steed and A. Ramanathan and P. Balaprakash and V. Vishwanath and S. Wild and F. Xia and J. Brase and B. Chen and W. Davis},
  date-added = {2016-09-27 22:47:43 +0000},
  date-modified = {2017-01-28 04:31:31 +0000},
  howpublished = {Exascale Computing Project White Paper},
  title = {Co-Design Center Supporting Scientific Discovery through Structure-Based Machine Learning},
  year = {2016}
}
</pre>

<a name="MoaBalRouWil2016"></a><pre>
@article{<a href="pbalapra-bibtex.html#MoaBalRouWil2016">MoaBalRouWil2016</a>,
  author = {A. Moawad and P. Balaprakash and A. Rousseau and S. M. Wild},
  date-added = {2016-07-11 00:37:23 +0000},
  date-modified = {2016-07-11 04:12:18 +0000},
  doi = {10.1007/s12239-016-0104-z},
  journal = {International Journal of Automotive Technology},
  number = {6},
  pages = {1067--1077},
  title = {Novel large scale simulation process to support {DOT}'s {CAFE} modeling system},
  volume = {17},
  year = {2016},
  bdsk-url-1 = {<a href="http://www.mcs.anl.gov/papers/P5292-0215.pdf">http://www.mcs.anl.gov/papers/P5292-0215.pdf</a>}
}
</pre>

<a name="BalTiwWilHov2016"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalTiwWilHov2016">BalTiwWilHov2016</a>,
  author = {P. Balaprakash and A. Tiwari and S. M. Wild and P. D. Hovland},
  booktitle = {High Performance Computing: 31st International Conference, ISC High Performance 2016, Frankfurt, Germany, June 19-23, 2016, Proceedings},
  date-added = {2016-07-11 00:29:25 +0000},
  date-modified = {2017-01-28 04:30:29 +0000},
  doi = {10.1007/978-3-319-41321-1_12},
  editor = {Kunkel, M. Julian and Balaji, Pavan and Dongarra, Jack},
  isbn = {978-3-319-41321-1},
  pages = {219--239},
  publisher = {Springer International Publishing},
  title = {{AutoMOMML: Automatic Multi-objective Modeling with Machine Learning}},
  year = {2016},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1007/978-3-319-41321-1_12">http://dx.doi.org/10.1007/978-3-319-41321-1_12</a>}
}
</pre>

<a name="BalMorKetKumFos2016"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalMorKetKumFos2016">BalMorKetKumFos2016</a>,
  author = {P. Balaprakash and V. Morozov and R. Kettimuthu and K. Kumaran and I. Foster},
  booktitle = {2016 45th International Conference on Parallel Processing (ICPP)},
  date-added = {2016-07-11 00:26:44 +0000},
  date-modified = {2017-01-09 01:51:36 +0000},
  doi = {10.1109/ICPP.2016.36},
  note = {Acceptance rate 21.10\%},
  pages = {248--257},
  title = {Improving Data Transfer Throughput with Direct Search Optimization},
  year = {2016},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1109/ICPP.2016.36">http://dx.doi.org/10.1109/ICPP.2016.36</a>}
}
</pre>

<a name="ChoAgrLiaBalRosWil2016"></a><pre>
@misc{<a href="pbalapra-bibtex.html#ChoAgrLiaBalRosWil2016">ChoAgrLiaBalRosWil2016</a>,
  author = {A. Choudhary and A. Agrawal and W. Liao and P. Balaprakash and R. Ross and S. Wild},
  date-added = {2016-03-22 19:20:25 +0000},
  date-modified = {2017-01-28 04:31:41 +0000},
  howpublished = {Exascale Computing Project White Paper},
  title = {High performance deep machine learning software for exascale applications},
  year = {2016}
}
</pre>

<a name="HalWilStrBalQui2016"></a><pre>
@misc{<a href="pbalapra-bibtex.html#HalWilStrBalQui2016">HalWilStrBalQui2016</a>,
  author = {M. Hall and S. Williams and B. {van Straalen} and P. Balaprakash and D. Quinlan},
  date-added = {2016-03-22 19:16:15 +0000},
  date-modified = {2017-01-28 04:31:24 +0000},
  howpublished = {Exascale Computing Project White Paper},
  title = {Autotuning compiler technology for cross-architecture transformation and code generation},
  year = {2016}
}
</pre>

<a name="SubDiBauBal2016"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#SubDiBauBal2016">SubDiBauBal2016</a>,
  author = {O. Subasi and S. Di and L. Bautista-Gomez and P. Balaprakash and O. Unsal and J. Labarta and A. Cristal and F. Cappello},
  booktitle = {2016 16th IEEE/ACM International Symposium on Cluster, Cloud and Grid Computing (CCGrid)},
  date-added = {2016-03-14 21:42:40 +0000},
  date-modified = {2017-01-09 01:51:46 +0000},
  doi = {10.1109/CCGrid.2016.33},
  note = {Acceptance rate 20.0\%},
  pages = {413--424},
  title = {Spatial Support Vector Regression to Detect Silent Errors in the Exascale Era},
  year = {2016},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1109/CCGrid.2016.33">http://dx.doi.org/10.1109/CCGrid.2016.33</a>}
}
</pre>

<a name="berry2015ml"></a><pre>
@techreport{<a href="pbalapra-bibtex.html#berry2015ml">berry2015ml</a>,
  author = {M. Berry and T. E. Potok and P. Balaprakash and H. Hoffmann and R. Vatsavai and Prabhat},
  date-added = {2015-09-22 02:35:30 +0000},
  date-modified = {2017-01-28 04:33:09 +0000},
  institution = {{DOE ASCR Workshop Report}},
  title = {Machine learning and understanding for intelligent extreme scale scientific computing and discovery},
  url = {<a href="http://science.energy.gov/~/media/ascr/pdf/program-documents/docs/Machine_Learning_DOE_Workshop_Report.pdf">http://science.energy.gov/~/media/ascr/pdf/program-documents/docs/Machine_Learning_DOE_Workshop_Report.pdf</a>},
  year = {2015},
  bdsk-url-1 = {<a href="http://science.energy.gov/~/media/ascr/pdf/program-documents/docs/Machine_Learning_DOE_Workshop_Report.pdf">http://science.energy.gov/~/media/ascr/pdf/program-documents/docs/Machine_Learning_DOE_Workshop_Report.pdf</a>}
}
</pre>

<a name="BalBirSto15"></a><pre>
@article{<a href="pbalapra-bibtex.html#BalBirSto15">BalBirSto15</a>,
  author = {P. Balaprakash and M. Birattari and T. St{\"u}tzle and M. Dorigo},
  date-added = {2015-09-22 02:20:46 +0000},
  date-modified = {2015-09-23 03:59:11 +0000},
  doi = {10.1007/s10589-014-9719-z},
  journal = {Computational Optimization and Applications},
  number = {2},
  pages = {463--487},
  title = {Estimation-based metaheuristics for the single vehicle routing problem with stochastic demands and customers},
  volume = {61},
  year = {2015},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1007/s10589-014-9719-z">http://dx.doi.org/10.1007/s10589-014-9719-z</a>}
}
</pre>

<a name="MamBalCho2015"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#MamBalCho2015">MamBalCho2015</a>,
  author = {A. Mametjanov and P. Balaprakash and C. Choudary and P. D. Hovland and S. M. Wild and G. Sabin},
  booktitle = {2015 IEEE 23rd Annual International Symposium on Field-Programmable Custom Computing Machines (FCCM)},
  date-added = {2015-09-21 23:45:03 +0000},
  date-modified = {2017-01-09 01:51:09 +0000},
  doi = {10.1109/FCCM.2015.54},
  note = {Acceptance rate 22.10\%},
  pages = {84--91},
  title = {Autotuning {FPGA} design parameters for performance and power},
  year = {2015},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1109/FCCM.2015.54">http://dx.doi.org/10.1109/FCCM.2015.54</a>}
}
</pre>

<a name="BalGomBou15"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalGomBou15">BalGomBou15</a>,
  author = {P. Balaprakash and L. A. B. Gomez and M. S. Bouguerra and S. M. Wild and F. Cappello and P. D. Hovland},
  booktitle = {High Performance Computing Systems. Performance Modeling, Benchmarking, and Simulation -- PMBS 2014},
  date-added = {2015-05-18 17:09:41 +0000},
  date-modified = {2017-01-09 01:51:03 +0000},
  doi = {10.1007/978-3-319-17248-4_13},
  editor = {Jarvis, Stephen A. and Wright, Steven A. and Hammond, Simon D.},
  note = {Acceptance rate 26\%},
  pages = {249--263},
  publisher = {Springer International Publishing},
  series = {Lecture Notes in Computer Science},
  title = {Analysis of the tradeoffs between energy and run time for multilevel checkpointing},
  volume = {8966},
  year = {2015},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1007/978-3-319-17248-4_13">http://dx.doi.org/10.1007/978-3-319-17248-4_13</a>}
}
</pre>

<a name="NelRivBal2015"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#NelRivBal2015">NelRivBal2015</a>,
  author = {T. Nelson and A. Rivera and P. Balaprakash and M. Hall and P. D. Hovland and E. Jessup and B. Norris},
  booktitle = {2015 44th International Conference on Parallel Processing (ICPP)},
  date-added = {2015-05-18 16:48:59 +0000},
  date-modified = {2017-01-09 01:51:26 +0000},
  doi = {10.1109/ICPP.2015.106},
  note = {Acceptance rate 32.5\%},
  pages = {969--978},
  title = {Generating efficient tensor contractions for {GPU}s},
  year = {2015},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1109/ICPP.2015.106">http://dx.doi.org/10.1109/ICPP.2015.106</a>}
}
</pre>

<a name="BalAleMic15"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalAleMic15">BalAleMic15</a>,
  author = {P. Balaprakash and Y. Alexeev and S. A. Mickelson and S. Leyffer and R. Jacob and A. Craig},
  booktitle = {High Performance Computing for Computational Science -- VECPAR 2014, Revised Selected Papers},
  date-added = {2015-05-18 16:38:00 +0000},
  date-modified = {2016-07-11 00:32:26 +0000},
  doi = {10.1007/978-3-319-17353-5_7},
  editor = {Dayd{\'e}, Michel and Marques, Osni and Nakajima, Kengo},
  pages = {79--91},
  publisher = {Springer International Publishing},
  series = {Lecture Notes in Computer Science},
  title = {Machine-learning-based load balancing for community ice code component in {CESM}},
  volume = {8969},
  year = {2015},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1007/978-3-319-17353-5_7">http://dx.doi.org/10.1007/978-3-319-17353-5_7</a>}
}
</pre>

<a name="IsaBalWil2015"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#IsaBalWil2015">IsaBalWil2015</a>,
  author = {F. Isaila and P. Balaprakash and S. M. Wild and D. Kimpe and R. Latham and R. Ross and P. D. Hovland},
  booktitle = {2015 IEEE International Conference on Cluster Computing (CLUSTER)},
  date-added = {2015-02-01 00:56:25 +0000},
  date-modified = {2017-01-09 01:51:20 +0000},
  doi = {10.1109/CLUSTER.2015.29},
  note = {Acceptance rate 24\%},
  organization = {IEEE},
  pages = {128--137},
  title = {Collective {I/O} tuning using analytical and machine learning models},
  year = {2015},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1109/CLUSTER.2015.29">http://dx.doi.org/10.1109/CLUSTER.2015.29</a>}
}
</pre>

<a name="MoaBalRouWil2015"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#MoaBalRouWil2015">MoaBalRouWil2015</a>,
  author = {A. Moawad and P. Balaprakash and A. Rousseau and S. M. Wild},
  booktitle = {International Electric Vehicle Symposium and Exhibition (EVS28)},
  date-added = {2015-02-01 00:49:27 +0000},
  date-modified = {2015-09-23 04:12:59 +0000},
  title = {Novel large scale simulation process to support {DOT}'s {CAFE} modeling system},
  url = {<a href="http://www.mcs.anl.gov/papers/P5292-0215.pdf">http://www.mcs.anl.gov/papers/P5292-0215.pdf</a>},
  year = {2015},
  bdsk-url-1 = {<a href="http://www.mcs.anl.gov/papers/P5292-0215.pdf">http://www.mcs.anl.gov/papers/P5292-0215.pdf</a>}
}
</pre>

<a name="BalTiwWil2014b"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalTiwWil2014b">BalTiwWil2014b</a>,
  author = {P. Balaprakash and A. Tiwari and S. M. Wild},
  booktitle = {{The SUPER Project Newsletter}},
  date-added = {2014-12-17 17:20:07 +0000},
  date-modified = {2017-01-28 04:45:27 +0000},
  title = {Framework for Optimizing Power, Energy, and Performance},
  url = {<a href="http://www.super-scidac.org/sites/super-scidac.org/files/SUPERNEWSLETTERApril2014final_0.pdf">http://www.super-scidac.org/sites/super-scidac.org/files/SUPERNEWSLETTERApril2014final_0.pdf</a>},
  year = {2014},
  bdsk-url-1 = {<a href="http://www.super-scidac.org/sites/super-scidac.org/files/SUPERNEWSLETTERApril2014final_0.pdf">http://www.super-scidac.org/sites/super-scidac.org/files/SUPERNEWSLETTERApril2014final_0.pdf</a>}
}
</pre>

<a name="BalWilHov2011b"></a><pre>
@misc{<a href="pbalapra-bibtex.html#BalWilHov2011b">BalWilHov2011b</a>,
  author = {P. Balaprakash and S. M. Wild and P. D. Hovland},
  date-added = {2014-12-13 22:50:22 -0600},
  date-modified = {2014-12-17 17:40:33 +0000},
  howpublished = {2011 DOE Applied Mathematics Program Meeting, Washington, DC},
  note = {{Abstract}},
  title = {Model-based optimization algorithms for empirical performance tuning},
  year = {2011}
}
</pre>

<a name="BalWilHov2012a"></a><pre>
@misc{<a href="pbalapra-bibtex.html#BalWilHov2012a">BalWilHov2012a</a>,
  author = {P. Balaprakash and S. M. Wild and P. D. Hovland},
  date-added = {2014-12-13 22:48:33 -0600},
  date-modified = {2014-12-14 16:47:10 -0600},
  howpublished = {DOE CScADS Workshop on Libraries and Autotuning for Extreme-Scale Systems},
  note = {{Abstract}},
  title = {Global and local search algorithms in empirical performance tuning},
  year = {2011}
}
</pre>

<a name="BalWilHov2012b"></a><pre>
@misc{<a href="pbalapra-bibtex.html#BalWilHov2012b">BalWilHov2012b</a>,
  author = {P. Balaprakash and S. M. Wild and P. D. Hovland},
  date-added = {2014-12-13 22:46:18 -0600},
  date-modified = {2014-12-14 16:47:17 -0600},
  howpublished = {SIAM Conference on Parallel Processing (SIAM PP 2012)},
  note = {{Abstract}},
  title = {Efficient optimization algorithms for empirical performance tuning},
  year = {2012}
}
</pre>

<a name="NorZhuNelBalWil2011a"></a><pre>
@misc{<a href="pbalapra-bibtex.html#NorZhuNelBalWil2011a">NorZhuNelBalWil2011a</a>,
  author = {B. Norris and Q. Zhu and T. Nelson and P. Balaprakash and S. M. Wild},
  date-added = {2014-12-13 22:41:13 -0600},
  date-modified = {2014-12-17 17:32:50 +0000},
  howpublished = {2011 SIAM Conference on Computational Science and Engineering},
  note = {{Abstract}},
  title = {Comparison of search strategies in empirical performance tuning of linear algebra kernels},
  year = {2011}
}
</pre>

<a name="BalLil2012a"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalLil2012a">BalLil2012a</a>,
  author = {P. Balaprakash and O. A. Lilienfeld},
  booktitle = {IPAM Chemical Compound Space Reunion},
  date-added = {2014-12-13 21:01:44 -0600},
  date-modified = {2014-12-17 17:25:09 +0000},
  note = {{Invited Abstract}},
  title = {A sequential learning approach for quantum chemistry simulations},
  year = {2012}
}
</pre>

<a name="BalWilHov2013a"></a><pre>
@misc{<a href="pbalapra-bibtex.html#BalWilHov2013a">BalWilHov2013a</a>,
  author = {P. Balaprakash and S. M. Wild and P. D. Hovland},
  date-added = {2014-12-13 20:47:29 -0600},
  date-modified = {2014-12-14 23:40:41 -0600},
  howpublished = {White Paper},
  title = {Performance modeling for exascale autotuning: {A}n integrated approach},
  year = {2013}
}
</pre>

<a name="BalMorWilVisHovKumAll2014"></a><pre>
@misc{<a href="pbalapra-bibtex.html#BalMorWilVisHovKumAll2014">BalMorWilVisHovKumAll2014</a>,
  author = {P. Balaprakash and V. Morozov and S. M. Wild and V. Vishwanath and P. D. Hovland and K. Kumaran and B. Allcock},
  date-added = {2014-12-13 20:45:38 -0600},
  date-modified = {2014-12-14 17:48:50 -0600},
  howpublished = {White Paper},
  title = {Machine learning for self-adaptive leadership-class machines},
  year = {2014}
}
</pre>

<a name="Bal2010b"></a><pre>
@phdthesis{<a href="pbalapra-bibtex.html#Bal2010b">Bal2010b</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-13 20:13:45 -0600},
  date-modified = {2015-09-23 04:35:45 +0000},
  school = {Universit\'e Libre de Bruxelles},
  title = {Estimation-based metaheuristics for stochastic combinatorial optimization: {C}ase studies in stochastic routing problems},
  url = {<a href="http://iridia.ulb.ac.be/~mdorigo/HomePageDorigo/thesis/phd/PBalaprakashPhDThesis.pdf">http://iridia.ulb.ac.be/~mdorigo/HomePageDorigo/thesis/phd/PBalaprakashPhDThesis.pdf</a>},
  year = {2010},
  bdsk-url-1 = {<a href="http://iridia.ulb.ac.be/~mdorigo/HomePageDorigo/thesis/phd/PBalaprakashPhDThesis.pdf">http://iridia.ulb.ac.be/~mdorigo/HomePageDorigo/thesis/phd/PBalaprakashPhDThesis.pdf</a>}
}
</pre>

<a name="MoaHalPagRouBalWild2014"></a><pre>
@techreport{<a href="pbalapra-bibtex.html#MoaHalPagRouBalWild2014">MoaHalPagRouBalWild2014</a>,
  author = {A. Moawad and S. Halbach and S. Pagerit and A. Rousseau and P. Balaprakash and S. Wild},
  date-added = {2014-12-13 20:04:35 -0600},
  date-modified = {2015-09-23 04:11:55 +0000},
  institution = {Report to Department of Transportation},
  number = {ANL/ESD-13/13},
  title = {Novel process to use vehicle simulations directly as inputs to {DOTs CAFE} modeling system},
  year = {2014}
}
</pre>

<a name="BalWilHov2013"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalWilHov2013">BalWilHov2013</a>,
  author = {P. Balaprakash and S. M. Wild and P. D. Hovland},
  booktitle = {High Performance Computing for Computational Science - VECPAR 2012, 10th International Conference, Revised Selected Papers},
  date-added = {2014-12-13 16:51:50 -0600},
  date-modified = {2016-07-11 00:32:03 +0000},
  doi = {10.1007/978-3-642-38718-0_26},
  editors = {M.J. Dayd\'e, O. Marques, K. Nakajima},
  isbn = {978-3-642-38717-3},
  pages = {261--269},
  publisher = {Springer},
  series = {Lecture Notes in Computer Science},
  title = {An experimental study of global and local search algorithms in empirical performance tuning},
  year = {2013},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1007/978-3-642-38718-0_26">http://dx.doi.org/10.1007/978-3-642-38718-0_26</a>}
}
</pre>

<a name="BalBunChaGhuChi2013a1"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalBunChaGhuChi2013a1">BalBunChaGhuChi2013a1</a>,
  acmid = {2499973},
  address = {San Diego, CA, USA},
  articleno = {5},
  author = {P. Balaprakash and D. Buntinas and A. Chan and A. Guha and R. Gupta and S. Narayanan and A. Chien and P. Hovland and B. Norris},
  booktitle = {Proceedings of the High Performance Computing Symposium},
  date-added = {2014-12-13 16:50:33 -0600},
  date-modified = {2017-01-08 02:47:02 +0000},
  isbn = {978-1-62748-033-8},
  location = {San Diego, California},
  note = {{Best Paper Award}},
  numpages = {8},
  pages = {5:1--5:8},
  publisher = {Society for Computer Simulation International},
  series = {HPC '13},
  title = {Exascale workload characterization and architecture implications},
  url = {<a href="http://dl.acm.org/citation.cfm?id=2499968.2499973">http://dl.acm.org/citation.cfm?id=2499968.2499973</a>},
  year = {2013},
  bdsk-url-1 = {<a href="http://dl.acm.org/citation.cfm?id=2499968.2499973">http://dl.acm.org/citation.cfm?id=2499968.2499973</a>}
}
</pre>

<a name="BalTiwWil2014"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalTiwWil2014">BalTiwWil2014</a>,
  author = {P. Balaprakash and A. Tiwari and S. M. Wild},
  booktitle = {High Performance Computing Systems. Performance Modeling, Benchmarking and Simulation -- PMBS 2013},
  date-added = {2014-12-13 16:47:45 -0600},
  date-modified = {2017-01-09 02:00:19 +0000},
  doi = {10.1007/978-3-319-10214-6_12},
  editor = {Jarvis, Stephen A. and Wright, Steven A. and Hammond, Simon D.},
  note = {Acceptance rate 30\%},
  pages = {239-260},
  publisher = {Springer International Publishing},
  series = {Lecture Notes in Computer Science},
  title = {Multi objective optimization of {HPC} kernels for performance, power, and energy},
  year = {2014},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1007/978-3-319-10214-6_12">http://dx.doi.org/10.1007/978-3-319-10214-6_12</a>}
}
</pre>

<a name="BalWilHov2011a"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalWilHov2011a">BalWilHov2011a</a>,
  author = {P. Balaprakash and S. M. Wild and P. D. Hovland},
  booktitle = {Proceedings of the International Conference on Computational Science, ICCS 2011},
  date-added = {2014-12-13 16:32:54 -0600},
  date-modified = {2017-01-09 01:59:40 +0000},
  doi = {10.1016/j.procs.2011.04.234},
  issn = {1877-0509},
  journal = {Procedia Computer Science},
  pages = {2136--2145},
  title = {Can search algorithms save large-scale automatic performance tuning?},
  volume = {4},
  year = {2011},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1016/j.procs.2011.04.234">http://dx.doi.org/10.1016/j.procs.2011.04.234</a>}
}
</pre>

<a name="BalWilNor2012"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalWilNor2012">BalWilNor2012</a>,
  author = {Prasanna Balaprakash and Stefan M. Wild and Boyana Norris},
  booktitle = {Proceedings of the International Conference on Computational Science, ICCS 2012},
  date-added = {2014-12-13 16:31:07 -0600},
  date-modified = {2014-12-17 18:29:49 +0000},
  doi = {10.1016/j.procs.2012.04.214},
  issn = {1877-0509},
  journal = {Procedia Computer Science},
  pages = {1959--1968},
  title = {{SPAPT}: {S}earch {P}roblems in {A}utomatic {P}erformance {T}uning},
  volume = {9},
  year = {2012},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1016/j.procs.2012.04.214">http://dx.doi.org/10.1016/j.procs.2012.04.214</a>}
}
</pre>

<a name="BirZhiBalStu2010"></a><pre>
@incollection{<a href="pbalapra-bibtex.html#BirZhiBalStu2010">BirZhiBalStu2010</a>,
  author = {M. Birattari and Z. Yuan and P. Balaprakash and T. St{\"u}tzle},
  booktitle = {Experimental Methods for the Analysis of Optimization Algorithms},
  date-added = {2014-12-13 16:27:41 -0600},
  date-modified = {2017-01-09 02:02:00 +0000},
  doi = {10.1007/978-3-642-02538-9_13},
  editor = {Bartz-Beielstein, Thomas and Chiarandini, Marco and Paquete, Lu{\'\i}s and Preuss, Mike},
  pages = {311--336},
  publisher = {Springer Berlin Heidelberg},
  title = {{F-Race and Iterated F-Race: An Overview}},
  year = {2010},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1007/978-3-642-02538-9_13">http://dx.doi.org/10.1007/978-3-642-02538-9_13</a>}
}
</pre>

<a name="BalBirStuDor2010b"></a><pre>
@article{<a href="pbalapra-bibtex.html#BalBirStuDor2010b">BalBirStuDor2010b</a>,
  author = {P. Balaprakash and M. Birattari and T. St{\"u}tzle and M. Dorigo},
  date-added = {2014-12-13 16:25:00 -0600},
  date-modified = {2017-01-09 02:02:48 +0000},
  doi = {10.1016/j.cor.2009.12.005},
  journal = {Computers \& Operations Research},
  number = {11},
  pages = {1939--1951},
  title = {Estimation-based metaheuristics for the probabilistic traveling salesman problem},
  volume = {37},
  year = {2010},
  bdsk-url-1 = {<a href="http://www.sciencedirect.com/science/article/pii/S030505480900330X">http://www.sciencedirect.com/science/article/pii/S030505480900330X</a>},
  bdsk-url-2 = {<a href="http://dx.doi.org/10.1016/j.cor.2009.12.005">http://dx.doi.org/10.1016/j.cor.2009.12.005</a>}
}
</pre>

<a name="Bal2010a"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#Bal2010a">Bal2010a</a>,
  acmid = {1811157},
  address = {New York, NY, USA},
  author = {P. Balaprakash},
  booktitle = {SIGEVOlution Newsletter},
  date-added = {2014-12-13 16:22:29 -0600},
  date-modified = {2017-01-28 04:48:05 +0000},
  doi = {10.1145/1811155.1811157},
  number = {1},
  numpages = {2},
  pages = {18--19},
  publisher = {ACM},
  title = {Estimation-based metaheuristics for stochastic combinatorial optimization: {C}ase studies in stochastic routing problems},
  volume = {5},
  year = {2010},
  bdsk-url-1 = {<a href="http://doi.acm.org/10.1145/1811155.1811157">http://doi.acm.org/10.1145/1811155.1811157</a>},
  bdsk-url-2 = {<a href="http://dx.doi.org/10.1145/1811155.1811157">http://dx.doi.org/10.1145/1811155.1811157</a>}
}
</pre>

<a name="BalBirStuDor2009"></a><pre>
@article{<a href="pbalapra-bibtex.html#BalBirStuDor2009">BalBirStuDor2009</a>,
  author = {Prasanna Balaprakash and Mauro Birattari and Thomas St{\"u}tzle and Marco Dorigo},
  date-added = {2014-12-13 16:15:51 -0600},
  date-modified = {2015-09-23 04:37:23 +0000},
  doi = {10.1016/j.ejor.2008.11.027},
  issn = {0377-2217},
  journal = {European Journal of Operational Research},
  number = {1},
  pages = {98 - 110},
  title = {Adaptive sample size and importance sampling in estimation-based local search for the probabilistic traveling salesman problem},
  volume = {199},
  year = {2009},
  bdsk-url-1 = {<a href="http://www.sciencedirect.com/science/article/pii/S0377221708009776">http://www.sciencedirect.com/science/article/pii/S0377221708009776</a>},
  bdsk-url-2 = {<a href="http://dx.doi.org/10.1016/j.ejor.2008.11.027">http://dx.doi.org/10.1016/j.ejor.2008.11.027</a>}
}
</pre>

<a name="BalBirStuZhiDor2009"></a><pre>
@article{<a href="pbalapra-bibtex.html#BalBirStuZhiDor2009">BalBirStuZhiDor2009</a>,
  author = {Balaprakash, Prasanna and Birattari, Mauro and St{\"u}tzle, Thomas and Yuan, Zhi and Dorigo, Marco},
  date-added = {2014-12-13 16:14:10 -0600},
  date-modified = {2015-09-23 04:37:41 +0000},
  doi = {10.1007/s11721-009-0031-y},
  issn = {1935-3812},
  journal = {Swarm Intelligence},
  language = {English},
  number = {3},
  pages = {223--242},
  publisher = {Springer US},
  title = {Estimation-based ant colony optimization and local search for the probabilistic traveling salesman problem},
  volume = {3},
  year = {2009},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1007/s11721-009-0031-y">http://dx.doi.org/10.1007/s11721-009-0031-y</a>}
}
</pre>

<a name="BirBalStuDor2008d"></a><pre>
@article{<a href="pbalapra-bibtex.html#BirBalStuDor2008d">BirBalStuDor2008d</a>,
  author = {M. Birattari and P. Balaprakash and T. St\"utzle and M. Dorigo},
  date-added = {2014-12-13 16:06:38 -0600},
  date-modified = {2017-01-09 01:35:57 +0000},
  doi = {10.1287/ijoc.1080.0276},
  journal = {INFORMS Journal on Computing},
  number = {4},
  pages = {644-658},
  title = {Estimation-based local search for stochastic combinatorial optimization using delta evaluations: {A} case study on the probabilistic traveling salesman problem},
  volume = {20},
  year = {2008},
  bdsk-url-1 = {<a href="http://pubsonline.informs.org/doi/abs/10.1287/ijoc.1080.0276">http://pubsonline.informs.org/doi/abs/10.1287/ijoc.1080.0276</a>},
  bdsk-url-2 = {<a href="http://dx.doi.org/10.1287/ijoc.1080.0276">http://dx.doi.org/10.1287/ijoc.1080.0276</a>}
}
</pre>

<a name="BalBirStu2008c"></a><pre>
@incollection{<a href="pbalapra-bibtex.html#BalBirStu2008c">BalBirStu2008c</a>,
  author = {Balaprakash, Prasanna and Birattari, Mauro and St{\"u}tzle, Thomas},
  booktitle = {Recent Advances in Evolutionary Computation for Combinatorial Optimization},
  date-added = {2014-12-13 16:03:53 -0600},
  date-modified = {2015-09-23 04:38:27 +0000},
  doi = {10.1007/978-3-540-70807-0_4},
  editor = {Cotta, Carlos and van Hemert, Jano},
  isbn = {978-3-540-70806-3},
  language = {English},
  pages = {53-66},
  publisher = {Springer Berlin Heidelberg},
  series = {Studies in Computational Intelligence},
  title = {Engineering stochastic local search algorithms: {A} case study in estimation-based local search for the probabilistic travelling salesman problem},
  volume = {153},
  year = {2008},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1007/978-3-540-70807-0_4">http://dx.doi.org/10.1007/978-3-540-70807-0_4</a>}
}
</pre>

<a name="ZhiFugHomBalStuSch2008"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#ZhiFugHomBalStuSch2008">ZhiFugHomBalStuSch2008</a>,
  author = {Yuan, Zhi and F{\"u}genschuh, Armin and Homfeld, Henning and Balaprakash, Prasanna and St{\"u}tzle, Thomas and Schoch, Michael},
  booktitle = {Hybrid Metaheuristics},
  date-added = {2014-12-13 15:55:30 -0600},
  date-modified = {2015-09-23 04:39:18 +0000},
  doi = {10.1007/978-3-540-88439-2_8},
  editor = {Blesa, Mar{\'\i}a J. and Blum, Christian and Cotta, Carlos and Fern{\'a}ndez, AntonioJ. and Gallardo, Jos{\'e}E. and Roli, Andrea and Sampels, Michael},
  isbn = {978-3-540-88438-5},
  language = {English},
  pages = {102--116},
  publisher = {Springer Berlin Heidelberg},
  series = {Lecture Notes in Computer Science},
  title = {Iterated greedy algorithms for a real-world cyclic train scheduling problem},
  volume = {5296},
  year = {2008},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1007/978-3-540-88439-2_8">http://dx.doi.org/10.1007/978-3-540-88439-2_8</a>}
}
</pre>

<a name="BalBirStu2007"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalBirStu2007">BalBirStu2007</a>,
  author = {P. Balaprakash and M. Birattari and T. St{\"u}tzle},
  booktitle = {Hybrid Metaheuristics},
  date-added = {2014-12-13 15:52:20 -0600},
  date-modified = {2017-01-09 02:01:03 +0000},
  doi = {10.1007/978-3-540-75514-2_9},
  editor = {Bartz-Beielstein, Thomas and Blesa Aguilera, Mar{\'\i}aJos{\'e} and Blum, Christian and Naujoks, Boris and Roli, Andrea and Rudolph, G{\"u}nter and Sampels, Michael},
  isbn = {978-3-540-75513-5},
  language = {English},
  pages = {108-122},
  publisher = {Springer Berlin Heidelberg},
  series = {Lecture Notes in Computer Science},
  title = {Improvement strategies for the {F-Race} algorithm: {S}ampling design and iterative refinement},
  volume = {4771},
  year = {2007},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1007/978-3-540-75514-2_9">http://dx.doi.org/10.1007/978-3-540-75514-2_9</a>}
}
</pre>

<a name="BirBalDor2007"></a><pre>
@incollection{<a href="pbalapra-bibtex.html#BirBalDor2007">BirBalDor2007</a>,
  author = {Birattari, Mauro and Balaprakash, Prasanna and Dorigo, Marco},
  booktitle = {Metaheuristics - Progress in Complex Systems Optimization},
  date-added = {2014-12-13 15:47:37 -0600},
  date-modified = {2015-09-23 04:40:40 +0000},
  doi = {10.1007/978-0-387-71921-4_10},
  editor = {Doerner, Karl F. and Gendreau, Michel and Greistorfer, Peter and Gutjahr, Walter and Hartl, Richard F. and Reimann, Marc},
  pages = {189--203},
  publisher = {Springer US},
  series = {Operations Research/Computer Science Interfaces Series},
  title = {The {ACO/F-Race} algorithm for combinatorial optimization under uncertainty},
  volume = {39},
  year = {2007},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1007/978-0-387-71921-4_10">http://dx.doi.org/10.1007/978-0-387-71921-4_10</a>}
}
</pre>

<a name="BalBirStuDor2006"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalBirStuDor2006">BalBirStuDor2006</a>,
  author = {Balaprakash, Prasanna and Birattari, Mauro and St{\"u}tzle, Thomas and Dorigo, Marco},
  booktitle = {Ant Colony Optimization and Swarm Intelligence},
  date-added = {2014-12-13 15:33:03 -0600},
  date-modified = {2015-09-23 15:18:49 +0000},
  doi = {10.1007/11839088_14},
  editor = {Dorigo, Marco and Gambardella, LucaMaria and Birattari, Mauro and Martinoli, Alcherio and Poli, Riccardo and St{\"u}tzle, Thomas},
  isbn = {978-3-540-38482-3},
  language = {English},
  pages = {156--166},
  publisher = {Springer Berlin Heidelberg},
  series = {Lecture Notes in Computer Science},
  title = {Incremental local search in ant colony optimization: {W}hy it fails for the quadratic assignment problem},
  volume = {4150},
  year = {2006},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1007/11839088_14">http://dx.doi.org/10.1007/11839088_14</a>}
}
</pre>

<a name="PraBalReg2005"></a><pre>
@article{<a href="pbalapra-bibtex.html#PraBalReg2005">PraBalReg2005</a>,
  author = {D.G. Leo Prakash and P. Balaprakash and D. Regener},
  date-added = {2014-12-13 15:26:49 -0600},
  date-modified = {2015-09-23 04:41:33 +0000},
  doi = {10.1016/j.commatsci.2004.09.017},
  issn = {0927-0256},
  journal = {Computational Materials Science},
  number = {3--4},
  pages = {480---488},
  title = {Computational microstructure analyzing technique for quantitative characterization of shrinkage and gas pores in pressure die cast AZ91 magnesium alloys},
  volume = {32},
  year = {2005},
  bdsk-url-1 = {<a href="http://www.sciencedirect.com/science/article/pii/S0927025604002290">http://www.sciencedirect.com/science/article/pii/S0927025604002290</a>},
  bdsk-url-2 = {<a href="http://dx.doi.org/10.1016/j.commatsci.2004.09.017">http://dx.doi.org/10.1016/j.commatsci.2004.09.017</a>}
}
</pre>

<a name="BirBalDor2005"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BirBalDor2005">BirBalDor2005</a>,
  author = {M. Birattari and P. Balaprakash and M. Dorigo},
  booktitle = {MIC 2005: The 6th Metaheuristics International Conference},
  date-modified = {2015-09-23 04:44:58 +0000},
  pages = {107--112},
  publisher = {Vienna, Austria: University of Vienna, Department of Business Administration},
  title = {{ACO/F-Race}: Ant colony optimization and racing techniques for combinatorial optimization under uncertainty},
  url = {<a href="http://iridia.ulb.ac.be/mbiro/paperi/BirBalDor2005mic.pdf">http://iridia.ulb.ac.be/mbiro/paperi/BirBalDor2005mic.pdf</a>},
  year = {2005},
  bdsk-url-1 = {<a href="http://iridia.ulb.ac.be/mbiro/paperi/BirBalDor2005mic.pdf">http://iridia.ulb.ac.be/mbiro/paperi/BirBalDor2005mic.pdf</a>}
}
</pre>

<a name="Bal2005"></a><pre>
@mastersthesis{<a href="pbalapra-bibtex.html#Bal2005">Bal2005</a>,
  author = {P. Balaprakash},
  date-modified = {2015-09-23 04:43:55 +0000},
  school = {Universit\'e Libre de Bruxelles, Brussels, Belgium},
  title = {Ant colony optimization under uncertainty},
  url = {<a href="http://iridia.ulb.ac.be/IridiaTrSeries/rev/IridiaTr2005-028r001.pdf">http://iridia.ulb.ac.be/IridiaTrSeries/rev/IridiaTr2005-028r001.pdf</a>},
  year = {2005},
  bdsk-url-1 = {<a href="http://iridia.ulb.ac.be/IridiaTrSeries/rev/IridiaTr2005-028r001.pdf">http://iridia.ulb.ac.be/IridiaTrSeries/rev/IridiaTr2005-028r001.pdf</a>}
}
</pre>

<a name="BalBirStuDor2007c"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalBirStuDor2007c">BalBirStuDor2007c</a>,
  author = {Balaprakash, Prasanna and Birattari, Mauro and St{\"u}tzle, Thomas and Dorigo, Marco},
  booktitle = {LION 2007 II: Learning and Intelligent Optimization.},
  date-modified = {2014-12-13 21:07:08 -0600},
  editor = {V. Maniezzo and R. Battiti and J.-P. Watson},
  note = {{Extended Abstract}},
  pages = {8--12},
  title = {An experimental study of estimation-based metaheuristics for the probabilistic traveling salesman problem},
  year = {2007}
}
</pre>

<a name="BalBirStuDor2007b"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalBirStuDor2007b">BalBirStuDor2007b</a>,
  author = {Balaprakash, Prasanna and Birattari, Mauro and St{\"u}tzle, Thomas and Dorigo, Marco},
  booktitle = {SLS-DS 2007: Doctoral Symposium on Engineering Stochastic Local Search Algorithms},
  date-modified = {2014-12-14 17:13:36 -0600},
  editor = {E. Ridge and T. St{\"u}tzle and M. Birattari and H. H. Hoos},
  note = {Nominated for the best paper award},
  pages = {16--20},
  title = {Sampling strategies and local search for stochastic combinatorial optimization},
  year = {2007}
}
</pre>

<a name="BirBalStuDor2007a"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BirBalStuDor2007a">BirBalStuDor2007a</a>,
  author = {Birattari, Mauro and Balaprakash, Prasanna and St{\"u}tzle, Thomas and Dorigo, Marco},
  booktitle = {Proceedings of MIC 2007},
  date-modified = {2014-12-14 01:22:32 -0600},
  editor = {M. Gendreau and T. G. Crainic and L.-M. Rousseau and P. Soriano},
  pages = {141},
  title = {Estimation-based local search for the probabilistic traveling salesman problem},
  year = {2007}
}
</pre>

<a name="BirZhiBalStu2009"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BirZhiBalStu2009">BirZhiBalStu2009</a>,
  author = {Birattari, Mauro and Yuan, Zhi and Balaprakash, Prasanna and St{\"u}tzle, Thomas},
  booktitle = {MIC 2009: The 8th Metaheuristics International Conference},
  date-modified = {2014-12-13 20:13:33 -0600},
  editor = {S. Voss and M. Caserta},
  pages = {10 pages},
  title = {Automated algorithm tuning using {F-Races}: {R}ecent developments},
  volume = {proceedings on CD-ROM},
  year = {2009}
}
</pre>

<a name="Bal2004"></a><pre>
@mastersthesis{<a href="pbalapra-bibtex.html#Bal2004">Bal2004</a>,
  author = {P. Balaprakash},
  date-modified = {2015-09-23 04:42:58 +0000},
  school = {Otto-von-Guericke-Universit{\"a}t Magdeburg},
  title = {Pre-processing of Stochastic {P}etri Nets and an improved Storage Strategy for Proxel Based Simulation},
  url = {<a href="http://wwwisg.cs.ovgu.de/sim/files/theses/Prasanna.Balaprakash-MasterThesis.pdf">http://wwwisg.cs.ovgu.de/sim/files/theses/Prasanna.Balaprakash-MasterThesis.pdf</a>},
  year = {2004},
  bdsk-url-1 = {<a href="http://wwwisg.cs.ovgu.de/sim/files/theses/Prasanna.Balaprakash-MasterThesis.pdf">http://wwwisg.cs.ovgu.de/sim/files/theses/Prasanna.Balaprakash-MasterThesis.pdf</a>}
}
</pre>

<a name="BalBirStuDor2010a"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalBirStuDor2010a">BalBirStuDor2010a</a>,
  author = {Balaprakash, Prasanna and Birattari, Mauro and Stutzle, Thomas and Dorigo, Marco},
  booktitle = {Proceedings of ORBEL 24, 24th Annual Conference of the Belgian Operations Research Society},
  date-modified = {2014-12-13 21:05:37 -0600},
  note = {{Extended Abstract}},
  pages = {136--137},
  title = {Effective estimation-based stochastic local search algorithms for stochastic routing problems},
  year = {2010}
}
</pre>

<a name="BalBirStuDor2008b"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalBirStuDor2008b">BalBirStuDor2008b</a>,
  author = {P. Balaprakash and M. Birattari and T. St{\"u}tzle and M. Dorigo},
  booktitle = {Metaheuristics 2008, Second International Workshop on Model Based Metaheuristics},
  date-modified = {2014-12-13 21:09:15 -0600},
  editor = {P. Hansen and S. Voss},
  note = {{Extended Abstract}},
  title = {Applications of estimation-based {SLS} algorithms to the stochastic routing problems},
  year = {2008}
}
</pre>

<a name="BalBirStuDor2008a"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalBirStuDor2008a">BalBirStuDor2008a</a>,
  author = {Balaprakash, Prasanna and Birattari, Mauro and Stutzle, Thomas and Dorigo, Marco},
  booktitle = {International Conference on Metaheuristics and Nature Inspired Computing, META'08},
  date-modified = {2014-12-14 17:29:35 -0600},
  editor = {E.-G. Talbi and K. Mellouli},
  note = {{Extended Abstract}},
  title = {Estimation-based stochastic local search algorithms for the stochastic routing problems},
  year = {2008}
}
</pre>

<a name="TolBal2008"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#TolBal2008">TolBal2008</a>,
  author = {Di Tollo, G and Balaprakash, Prasanna},
  booktitle = {Second International Workshop on Computational and Financial Econometrics, CFE'08},
  date-modified = {2014-12-13 21:12:10 -0600},
  editor = {A. Amendola and D.A. Belsley and E.J. Kontoghiorghes and M. Paolella},
  note = {{Abstract}},
  title = {Index tracking by estimation-based local search},
  year = {2008}
}
</pre>

<a name="BalGraWil2013"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalGraWil2013">BalGraWil2013</a>,
  author = {Balaprakash, Prasanna and Gramacy, Robert B and Wild, Stefan M},
  booktitle = {2013 IEEE International Conference on Cluster Computing (CLUSTER)},
  date-modified = {2017-01-09 01:50:51 +0000},
  doi = {10.1109/CLUSTER.2013.6702683},
  note = {Acceptance rate 31\%},
  pages = {1--8},
  title = {Active-learning-based surrogate models for empirical performance tuning},
  year = {2013},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1109/CLUSTER.2013.6702683">http://dx.doi.org/10.1109/CLUSTER.2013.6702683</a>}
}
</pre>

<a name="BalRupMamGraHovWil2013"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalRupMamGraHovWil2013">BalRupMamGraHovWil2013</a>,
  author = {Balaprakash, Prasanna and Rupp, Karl and Mametjanov, Azamat and Gramacy, Robert B and Hovland, Paul D and Wild, Stefan M},
  booktitle = {{Parallel Computing: Accelerating Computational Science and Engineering (ParCo2013)}},
  date-modified = {2017-01-08 02:56:42 +0000},
  doi = {10.3233/978-1-61499-381-0-646},
  pages = {646--655},
  series = {Advances in Parallel Computing},
  title = {Empirical performance modeling of {GPU} kernels using active learning},
  year = {2013},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.3233/978-1-61499-381-0-646">http://dx.doi.org/10.3233/978-1-61499-381-0-646</a>}
}
</pre>

<a name="BalAleMicLeyJacCra2014"></a><pre>
@inproceedings{<a href="pbalapra-bibtex.html#BalAleMicLeyJacCra2014">BalAleMicLeyJacCra2014</a>,
  author = {Balaprakash, Prasanna and Alexeev, Yuri and Mickelson, Sheri and Leyffer, Sven and Jacob, Robert and Craig, Anthony},
  booktitle = {11th International Meeting on High-Performance Computing for Computational Science (VECPAR 2014)},
  date-modified = {2015-05-18 16:45:34 +0000},
  title = {Machine-learning-based load balancing for community ice code component in {CESM}},
  year = {2014}
}
</pre>

<a name="ZhaBalMenMorParKum2014"></a><pre>
@techreport{<a href="pbalapra-bibtex.html#ZhaBalMenMorParKum2014">ZhaBalMenMorParKum2014</a>,
  author = {Y. Zhang and P. Balaprakash and J. Meng and V. Morozov and S. Parker and K. Kumaran},
  date-modified = {2015-09-23 04:15:18 +0000},
  institution = {Argonne National Laboratory},
  number = {ANL/ALCF/TM-14/2},
  title = {Raexplore: {E}nabling rapid, automated architecture exploration for full applications},
  url = {<a href="http://www.ipd.anl.gov/anlpubs/2014/12/110907.pdf">http://www.ipd.anl.gov/anlpubs/2014/12/110907.pdf</a>},
  year = {2014},
  bdsk-url-1 = {<a href="http://www.ipd.anl.gov/anlpubs/2014/12/110907.pdf">http://www.ipd.anl.gov/anlpubs/2014/12/110907.pdf</a>}
}
</pre>

