<h1>pbalapra-presentations.bib</h1><a name="Bal2007b"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2007b">Bal2007b</a>,
  author = {P. Balaprakash},
  date-added = {2017-01-08 19:56:18 +0000},
  date-modified = {2017-01-28 05:28:33 +0000},
  howpublished = {4th International Workshop on Hybrid Metaheuristics, Dortmund, Germany},
  month = {October},
  title = {Improvement strategies for the {F-Race} algorithm: Sampling design and iterative refinement},
  year = {2007}
}
</pre>

<a name="Bal2005"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2005">Bal2005</a>,
  author = {P. Balaprakash},
  date-added = {2017-01-08 19:54:10 +0000},
  date-modified = {2017-01-28 05:27:13 +0000},
  howpublished = {MIC 2005: The 6th Metaheuristics International Conference, Vienna, Austria},
  month = {August},
  title = {{ACO/F-Race}: Ant colony optimization and racing techniques for combinatorial optimization under uncertainty},
  year = {2005}
}
</pre>

<a name="Bal2016f"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2016f">Bal2016f</a>,
  author = {P. Balaprakash},
  date-added = {2017-01-08 19:51:00 +0000},
  date-modified = {2017-01-28 05:21:22 +0000},
  howpublished = {6th Joint Laboratory for Extreme Scale Computing (JLESC) Workshop, Kobe, Japan},
  month = {June},
  title = {Multi objective optimization of {HPC} kernels for performance, power, and energy},
  year = {2016}
}
</pre>

<a name="Bal2013d"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2013d">Bal2013d</a>,
  author = {P. Balaprakash},
  date-added = {2017-01-08 19:32:32 +0000},
  date-modified = {2017-01-28 05:25:09 +0000},
  howpublished = {PMaC/SDSC Seminar, San Diego, CA},
  month = {July},
  title = {Search Algorithms in Empirical Performance Tuning and Machine Learning for Computationally Expensive Simulations},
  year = {2013}
}
</pre>

<a name="Bal2007a"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2007a">Bal2007a</a>,
  author = {P. Balaprakash},
  date-added = {2017-01-08 19:27:39 +0000},
  date-modified = {2017-01-28 05:26:49 +0000},
  howpublished = {LION 2007 II: Learning and Intelligent Optimization, Trento, Italy},
  month = {December},
  title = {An experimental study of estimation-based metaheuristics for the probabilistic traveling salesman problem},
  year = {2007}
}
</pre>

<a name="Bal2012e"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2012e">Bal2012e</a>,
  author = {P. Balaprakash},
  date-added = {2017-01-08 19:04:42 +0000},
  date-modified = {2017-01-28 05:24:27 +0000},
  howpublished = {ANL Mathematics and Computer Science Division Seminar, Lemont, IL},
  month = {December},
  title = {Search Algorithms in Empirical Performance Tuning and Machine Learning for Computationally Expensive Simulations},
  year = {2012}
}
</pre>

<a name="Bal2016e"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2016e">Bal2016e</a>,
  author = {P. Balaprakash},
  date-added = {2016-09-29 03:52:13 +0000},
  date-modified = {2017-01-28 05:30:09 +0000},
  howpublished = {Midwest Big Data Opportunities and Challenges, Chicago, IL},
  month = {September},
  title = {Machine learning for high performance computing},
  year = {2016}
}
</pre>

<a name="Bal2016c"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2016c">Bal2016c</a>,
  author = {P. Balaprakash},
  date-added = {2016-07-11 00:52:32 +0000},
  date-modified = {2017-01-28 05:30:47 +0000},
  howpublished = {11th International Workshop on Automatic Performance Tuning, iWAPT 2016, Chicago, IL},
  month = {May},
  title = {Exploiting performance portability in search algorithms for autotuning},
  year = {2016}
}
</pre>

<a name="Bal2016d"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2016d">Bal2016d</a>,
  author = {P. Balaprakash},
  date-added = {2016-07-11 00:49:24 +0000},
  date-modified = {2017-01-28 05:28:56 +0000},
  howpublished = {The 45th International Conference on Parallel Processing, ICPP 2016, Philadelphia, PA},
  month = {August},
  title = {Improving Data Transfer Throughput with Direct Search Optimization},
  year = {2016}
}
</pre>

<a name="Bal2016a"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2016a">Bal2016a</a>,
  author = {P. Balaprakash},
  date-added = {2016-07-11 00:45:29 +0000},
  date-modified = {2017-01-28 05:20:44 +0000},
  howpublished = {International Supercomputing Conference, ISC 2016, Frankfurt, Germany},
  month = {June},
  title = {{AutoMOMML: Automatic Multi-objective Modeling with Machine Learning}},
  year = {2016}
}
</pre>

<a name="Bal2016b"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2016b">Bal2016b</a>,
  author = {P. Balaprakash},
  date-added = {2016-07-11 00:43:09 +0000},
  date-modified = {2017-01-28 05:21:06 +0000},
  howpublished = {5th Joint Laboratory for Extreme Scale Computing (JLESC) Workshop, Lyon, France},
  month = {June},
  title = {{AutoMOMML: Automatic Multi-objective Modeling with Machine Learning}},
  year = {2016}
}
</pre>

<a name="Bal2015b"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2015b">Bal2015b</a>,
  author = {P. Balaprakash},
  date-added = {2015-09-28 15:32:09 +0000},
  date-modified = {2017-01-28 05:21:52 +0000},
  howpublished = {Urban Data Analytics/City of Chicago SmartData Platform Workshop, Chicago, IL},
  month = {May},
  title = {Predictive modeling for large scale vehicle simulations},
  year = {2015}
}
</pre>

<a name="Bal2015a"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2015a">Bal2015a</a>,
  author = {P. Balaprakash},
  date-added = {2015-03-06 00:30:32 +0000},
  date-modified = {2017-01-28 05:22:08 +0000},
  howpublished = {2015 DOE ASCR Machine Learning Workshop, Rockville, MD},
  month = {January},
  title = {Self-aware runtime and operating Systems},
  year = {2015}
}
</pre>

<a name="Bal2014b"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2014b">Bal2014b</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:22:28 +0000},
  howpublished = {Department of Mathematics, Statistics and Computer Science Colloquium, Marquette University, Milwaukee, WI},
  month = {October},
  title = {Automatic performance modeling and tuning},
  year = {2014}
}
</pre>

<a name="Bal2014c"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2014c">Bal2014c</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:22:44 +0000},
  howpublished = {11th International Meeting on High-Performance Computing for Computational Science (VECPAR 2014), Eugene, OR},
  month = {July},
  note = {{Conference Talk}},
  title = {Machine-learning-based load balancing for community ice code component in {CESM}},
  year = {2014}
}
</pre>

<a name="Bal2014a"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2014a">Bal2014a</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:23:08 +0000},
  howpublished = {Computation Institute, UChicago, Lemont, IL},
  month = {February},
  title = {Active-learning-based surrogate models for empirical performance tuning},
  year = {2014}
}
</pre>

<a name="Bal2013a"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2013a">Bal2013a</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:23:22 +0000},
  howpublished = {10th workshop of the INRIA-Illinois-ANL Joint Laboratory, Urbana, IL},
  month = {November},
  title = {Active-learning-based surrogate models for empirical performance tuning},
  year = {2013}
}
</pre>

<a name="Bal2013c"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2013c">Bal2013c</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:23:39 +0000},
  howpublished = {4th International Workshop on Performance Modeling, Benchmarking and Simulation of High Performance Computer Systems (PMBS13), Denver, CO},
  month = {November},
  title = {Multi objective optimization of {HPC} kernels for performance, power, and energy},
  year = {2013}
}
</pre>

<a name="Bal2013b"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2013b">Bal2013b</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:23:53 +0000},
  howpublished = {2013 IEEE International Conference on Cluster Computing (CLUSTER), Indianapolis, IN},
  month = {September},
  title = {Active-learning-based surrogate models for empirical performance tuning},
  year = {2013}
}
</pre>

<a name="Bal2012b"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2012b">Bal2012b</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:24:06 +0000},
  howpublished = {IPAM Chemical Compound Space Reunion, Lake Arrowhead, CA},
  month = {December},
  title = {A sequential learning approach for quantum chemistry simulations},
  year = {2012}
}
</pre>

<a name="Bal2012c"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2012c">Bal2012c</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:25:34 +0000},
  howpublished = {Workshop on Tools for Program Development and Analysis in Computational Science, International Conference on Computational Science, ICCS 2012, Omaha, NE},
  month = {June},
  title = {{SPAPT}: {S}earch {P}roblems in {A}utomatic {P}erformance {T}uning},
  year = {2012},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1016/j.procs.2012.04.214">http://dx.doi.org/10.1016/j.procs.2012.04.214</a>}
}
</pre>

<a name="Bal2012a"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2012a">Bal2012a</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:25:49 +0000},
  howpublished = {SIAM Conference on Parallel Processing (SIAM PP 2012), Savannah, GA},
  month = {February},
  title = {Efficient optimization algorithms for empirical performance tuning},
  year = {2012}
}
</pre>

<a name="Bal2012d"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2012d">Bal2012d</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:26:03 +0000},
  howpublished = {DOE CScADS Workshop on Libraries and Autotuning for Extreme-Scale Systems, Snowbird, UT},
  month = {August},
  title = {Global and local search algorithms in empirical performance tuning},
  year = {2011}
}
</pre>

<a name="Bal2011b"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2011b">Bal2011b</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:26:24 +0000},
  howpublished = {Workshop on Automatic Performance Tuning, International Conference on Computational Science, ICCS 2011, Singapore},
  month = {June},
  title = {Can search algorithms save large-scale automatic performance tuning?},
  year = {2011},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1016/j.procs.2011.04.234">http://dx.doi.org/10.1016/j.procs.2011.04.234</a>}
}
</pre>

<a name="Bal2011a"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2011a">Bal2011a</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:26:39 +0000},
  howpublished = {2011 SIAM Conference on Computational Science and Engineering, Reno, NV},
  month = {March},
  title = {Comparison of search strategies in empirical performance tuning of linear algebra kernels},
  year = {2011}
}
</pre>

