
<table>

<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2019m">1</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 AI tools.
 PSE AI in Science and Engineering Workshop, Argonne, IL, September
  2019.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2019m">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2019i">2</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Recurrent networks for time series data.
 Argonne Artificial Intelligence for Science Workshop, Argonne, IL,
  August 2019.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2019i">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2019h">3</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Deep learning basics.
 Artificial Intelligence for Science Workshop, Argonne, IL, August
  2019.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2019h">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2019f">4</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Deep learning basics.
 ATPESC 2019: Argonne Training Program on Extreme-Scale Computing,
  St. Charles, IL, August 2019.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2019f">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2019g">5</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Hyperparameter optimization and DeepHyper.
 ATPESC 2019: Argonne Training Program on Extreme-Scale Computing, St.
  Charles, IL, August 2019.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2019g">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2019j">6</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Deep learning basics.
 Artificial Intelligence for Science Workshop for Summer Students,
  Argonne, IL, July 2019.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2019j">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2019k">7</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Recurrent networks for time series data.
 Artificial Intelligence for Science Workshop for Summer Students,
  Argonne, IL, July 2019.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2019k">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2019l">8</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Scientific domain-informed machine learning.
 Argonne Physics Divison Colloquium, Argonne, IL, May 2019.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2019l">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2019e">9</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Artificial intelligence to accelerate discovery and development.
 Argonne Outloud Public Lecture, Argonne, IL, May 2019.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2019e">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2019d">10</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 DeepHyper: Scalable Asynchronous Hyperparameter Search for Deep
  Learning.
 Data Enabled Modeling and Discovery in Science and Engineering
  Minisymposium, SIAM Conference on Computational Science and Engineering,
  February 2019.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2019d">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2019c">11</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Machine-learning-based-search for automatic performance tuning.
 OMASE 2019: Optimization, Modeling, Analysis and Space Exploration
  Workshop, Washington DC, February 2019.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2019c">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2019b">12</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Machine-learning-based performance modeling and tuning for
  high-performance computing.
 HPCaML 2019: The First International Workshop on the Intersection
  of High Performance Computing and Machine Learning, Washington DC, February
  2019.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2019b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2019a">13</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Scalable reinforcement-learning-based neural architecture search for
  scientific and engineering applications.
 LANS Informal Seminar, Argonne, IL, February 2019.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2019a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2018q">14</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Scientific domain-informed machine learning.
 Advanced Photon Source Colloquium, Argonne, IL, December 2018.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2018q">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2018p">15</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Scientific domain-informed machine learning.
 Indian Institute of Science, Bengaluru, India, December 2018.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2018p">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2018o">16</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 DeepHyper: Asynchronous Hyperparameter Search for Deep Neural
  Networks.
 25th IEEE International Conference on High Performance Computing,
  Data, and Analytics, Bengaluru, India, December 2018.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2018o">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2018i">17</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Scientific domain-informed machine learning.
 Consortium for Computational Physics and Chemistry Meeting, Argonne,
  IL, November 2018.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2018i">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2018j">18</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Spatial-temporal deep learning and hyperparameter search for traffic
  prediction.
 Workshop on Large-Scale Computing for Transportation Studies, Maui,
  HI, November 2018.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2018j">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2018k">19</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Benchmarking machine learning methods for performance modeling of
  scientific applications.
 PMBS 2018: Performance Modeling, Benchmarking and Simulation of
  High Performance Computer Systems, November 2018.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2018k">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2018m">20</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Scientific domain-informed machine learning.
 ALCF Simulation, Data, and Learning Workshop, Argonne, IL, October
  2018.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2018m">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2018n">21</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Reproducibility, portability and interpretability of deep learning.
 Workshop on Deep Learning for Multimessenger Astrophysics: Real-time
  Discovery at Scale, October 2018.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2018n">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2018h">22</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Scientific domain-informed machine learning.
 Department Seminar Series, Mechanical and Industrial Engineering,
  University of Illinois at Chicago, IL, October 2018.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2018h">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2018l">23</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Data parallel deep learning.
 CANDLE-EXALEARN ECP Workshop, Argonne, IL, October 2018.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2018l">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2018e">24</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Data for machine learning.
 Argonne Geospatial Workshop, August 2018.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2018e">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2018b">25</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Machine learning hardware.
 SciDAC Fusion Machine-Learning Workshop 2018, Princeton, NJ, June
  2018.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2018b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2018g">26</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Tools for scientific machine learning.
 Army Research Lab Workshop, Chicago, IL, May 2018.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2018g">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2018f">27</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Machine learning overview and applications.
 Argonne Environmental Science Division Retreat, May 2018.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2018f">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2018a">28</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Machine learning in high performance computing.
 7th Greater Chicago Area Systems Research Workshop University of
  Chicago, Chicago, IL, April 2018.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2018a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2018d">29</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Recurrent neural networks.
 Argonne Deep Learning Workshop, January 2018.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2018d">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2018c">30</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Deep learning basics.
 Argonne Deep Learning Workshop, January 2018.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2018c">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2017c">31</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Introduction to unsupervised and supervised learning in python:
  Hands-on tutorial.
 Argonne Training Program on Extreme-Scale Computing (ATPESC), St.
  Charles, IL, August 2017.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2017c">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2017b">32</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Overview of machine learning methods.
 Argonne Training Program on Extreme-Scale Computing (ATPESC), St.
  Charles, IL, August 2017.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2017b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2017d">33</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Need for data locality in machine/deep learning.
 Fourth Workshop on Programming Abstractions for Data Locality
  (PADAL'17), Chicago, IL, August 2017.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2017d">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2017a">34</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Automatic multi-objective modeling with machine learning.
 Argonne Training Program on Extreme-Scale Computing (ATPESC), St.
  Charles, IL, August 2017.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2017a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2017f">35</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Overview of machine learning methods.
 Argonne Machine Learning Workshop, Argonne, IL, July 2017.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2017f">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2017e">36</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Generative adversarial networks.
 US ATLAS Workshop, Argonne, IL, July 2017.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2017e">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2017i">37</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Introduction to unsupervised and supervised learning in python:
  Hands-on tutorial.
 Argonne Machine Learning Workshop, Argonne, IL, July 2017.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2017i">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2017h">38</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Automatic multi-objective modeling with machine learning.
 Argonne Machine Learning Workshop, Argonne, IL, July 2017.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2017h">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2017l">39</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Generative adversarial networks.
 The 3rd International Workshop on Data Science in High Energy Physics
  (DS@HEP 2017), Fermi National Accelerator Laboratory, IL, May 2017.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2017l">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2017j">40</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Automatic multi-objective modeling with machine learning.
 Workshop on Optimization and Machine Learning (ACNTW 17),
  Northwestern University, Argonne, May 2017.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2017j">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2017k">41</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Analytical performance modeling and validation of intel's xeon phi
  architecture.
 Computing Frontiers 2017, University of Siena, Siena, Italy, May
  2017.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2017k">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2017m">42</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Artificial intelligence for transportation and mobility.
 Tech Hub, SAE World Congress 2017, Detroit, MI, May 2017.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2017m">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2017p">43</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Introduction to unsupervised and supervised learning in python:
  Hands-on tutorial.
 Argonne Machine Learning Workshop, Argonne, IL, April 2017.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2017p">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2017n">44</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Automatic multi-objective modeling with machine learning.
 Argonne Machine Learning Workshop, Argonne, IL, April 2017.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2017n">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2017o">45</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Overview of machine learning methods.
 Argonne Machine Learning Workshop, Argonne, IL, April 2017.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2017o">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2016e">46</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Machine learning for high performance computing.
 Midwest Big Data Opportunities and Challenges, Chicago, IL, September
  2016.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2016e">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2016d">47</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Improving data transfer throughput with direct search optimization.
 The 45th International Conference on Parallel Processing, ICPP 2016,
  Philadelphia, PA, August 2016.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2016d">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2016f">48</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Multi objective optimization of HPC kernels for performance, power,
  and energy.
 6th Joint Laboratory for Extreme Scale Computing (JLESC) Workshop,
  Kobe, Japan, June 2016.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2016f">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2016a">49</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 AutoMOMML: Automatic Multi-objective Modeling with Machine
  Learning.
 International Supercomputing Conference, ISC 2016, Frankfurt,
  Germany, June 2016.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2016a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2016b">50</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 AutoMOMML: Automatic Multi-objective Modeling with Machine
  Learning.
 5th Joint Laboratory for Extreme Scale Computing (JLESC) Workshop,
  Lyon, France, June 2016.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2016b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2016c">51</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Exploiting performance portability in search algorithms for
  autotuning.
 11th International Workshop on Automatic Performance Tuning, iWAPT
  2016, Chicago, IL, May 2016.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2016c">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2015b">52</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Predictive modeling for large scale vehicle simulations.
 Urban Data Analytics/City of Chicago SmartData Platform Workshop,
  Chicago, IL, May 2015.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2015b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2015a">53</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Self-aware runtime and operating systems.
 2015 DOE ASCR Machine Learning Workshop, Rockville, MD, January 2015.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2015a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2014b">54</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Automatic performance modeling and tuning.
 Department of Mathematics, Statistics and Computer Science
  Colloquium, Marquette University, Milwaukee, WI, October 2014.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2014b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2014c">55</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Machine-learning-based load balancing for community ice code
  component in CESM.
 11th International Meeting on High-Performance Computing for
  Computational Science (VECPAR 2014), Eugene, OR, July 2014.
 Conference Talk.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2014c">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2014a">56</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Active-learning-based surrogate models for empirical performance
  tuning.
 Computation Institute, UChicago, Lemont, IL, February 2014.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2014a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2013a">57</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Active-learning-based surrogate models for empirical performance
  tuning.
 10th workshop of the INRIA-Illinois-ANL Joint Laboratory, Urbana, IL,
  November 2013.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2013a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2013c">58</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Multi objective optimization of HPC kernels for performance, power,
  and energy.
 4th International Workshop on Performance Modeling, Benchmarking and
  Simulation of High Performance Computer Systems (PMBS13), Denver, CO,
  November 2013.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2013c">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2013b">59</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Active-learning-based surrogate models for empirical performance
  tuning.
 2013 IEEE International Conference on Cluster Computing (CLUSTER),
  Indianapolis, IN, September 2013.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2013b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2013d">60</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Search algorithms in empirical performance tuning and machine
  learning for computationally expensive simulations.
 PMaC/SDSC Seminar, San Diego, CA, July 2013.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2013d">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2012e">61</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Search algorithms in empirical performance tuning and machine
  learning for computationally expensive simulations.
 ANL Mathematics and Computer Science Division Seminar, Lemont, IL,
  December 2012.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2012e">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2012b">62</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 A sequential learning approach for quantum chemistry simulations.
 IPAM Chemical Compound Space Reunion, Lake Arrowhead, CA, December
  2012.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2012b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2012c">63</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 SPAPT: Search Problems in Automatic Performance Tuning.
 Workshop on Tools for Program Development and Analysis in
  Computational Science, International Conference on Computational Science,
  ICCS 2012, Omaha, NE, June 2012.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2012c">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2012a">64</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Efficient optimization algorithms for empirical performance tuning.
 SIAM Conference on Parallel Processing (SIAM PP 2012), Savannah, GA,
  February 2012.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2012a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2012d">65</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Global and local search algorithms in empirical performance tuning.
 DOE CScADS Workshop on Libraries and Autotuning for Extreme-Scale
  Systems, Snowbird, UT, August 2011.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2012d">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2011b">66</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Can search algorithms save large-scale automatic performance tuning?
 Workshop on Automatic Performance Tuning, International Conference on
  Computational Science, ICCS 2011, Singapore, June 2011.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2011b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2011a">67</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Comparison of search strategies in empirical performance tuning of
  linear algebra kernels.
 2011 SIAM Conference on Computational Science and Engineering, Reno,
  NV, March 2011.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2011a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2007a">68</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 An experimental study of estimation-based metaheuristics for the
  probabilistic traveling salesman problem.
 LION 2007 II: Learning and Intelligent Optimization, Trento, Italy,
  December 2007.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2007a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2007b">69</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Improvement strategies for the F-Race algorithm: Sampling design
  and iterative refinement.
 4th International Workshop on Hybrid Metaheuristics, Dortmund,
  Germany, October 2007.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2007b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2005">70</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 ACO/F-Race: Ant colony optimization and racing techniques for
  combinatorial optimization under uncertainty.
 MIC 2005: The 6th Metaheuristics International Conference, Vienna,
  Austria, August 2005.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2005">bib</a>&nbsp;]

</td>
</tr>
</table>