<h1>pbalapra-presentations.bib</h1><a name="Bal2019l"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2019l">Bal2019l</a>,
  author = {P. Balaprakash},
  date-added = {2019-09-09 03:42:06 +0000},
  date-modified = {2019-09-09 03:48:45 +0000},
  howpublished = {Argonne Physics Divison Colloquium, Argonne, IL},
  month = {May},
  title = {Scientific Domain-Informed Machine Learning},
  year = {2019}
}
</pre>

<a name="Bal2018i"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2018i">Bal2018i</a>,
  author = {P. Balaprakash},
  date-added = {2019-09-09 03:40:16 +0000},
  date-modified = {2019-09-09 03:40:16 +0000},
  howpublished = {Consortium for Computational Physics and Chemistry Meeting, Argonne, IL},
  month = {November},
  title = {Scientific Domain-Informed Machine Learning},
  year = {2018}
}
</pre>

<a name="Bal2019i"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2019i">Bal2019i</a>,
  author = {P. Balaprakash},
  date-added = {2019-09-09 03:38:44 +0000},
  date-modified = {2019-09-09 03:50:24 +0000},
  howpublished = {Argonne Artificial Intelligence for Science Workshop, Argonne, IL},
  month = {August},
  title = {Recurrent Networks for Time Series Data},
  year = {2019}
}
</pre>

<a name="Bal2019j"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2019j">Bal2019j</a>,
  author = {P. Balaprakash},
  date-added = {2019-09-09 03:38:19 +0000},
  date-modified = {2019-09-09 03:49:10 +0000},
  howpublished = {Artificial Intelligence for Science Workshop for Summer Students, Argonne, IL},
  month = {July},
  title = {Deep Learning Basics},
  year = {2019}
}
</pre>

<a name="Bal2019h"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2019h">Bal2019h</a>,
  author = {P. Balaprakash},
  date-added = {2019-09-09 03:32:28 +0000},
  date-modified = {2019-09-09 03:50:20 +0000},
  howpublished = {Artificial Intelligence for Science Workshop, Argonne, IL},
  month = {August},
  title = {Deep Learning Basics},
  year = {2019}
}
</pre>

<a name="Bal2019k"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2019k">Bal2019k</a>,
  author = {P. Balaprakash},
  date-added = {2019-09-09 03:31:44 +0000},
  date-modified = {2019-09-09 03:49:05 +0000},
  howpublished = {Artificial Intelligence for Science Workshop for Summer Students, Argonne, IL},
  month = {July},
  title = {Recurrent Networks for Time Series Data},
  year = {2019}
}
</pre>

<a name="Bal2019f"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2019f">Bal2019f</a>,
  author = {P. Balaprakash},
  date-added = {2019-09-09 03:26:17 +0000},
  date-modified = {2019-09-09 03:50:02 +0000},
  howpublished = {{ATPESC 2019:} Argonne Training Program on Extreme-Scale Computing, St. Charles, IL},
  month = {August},
  title = {Deep Learning Basics},
  year = {2019}
}
</pre>

<a name="Bal2019e"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2019e">Bal2019e</a>,
  author = {P. Balaprakash},
  date-added = {2019-09-09 03:22:55 +0000},
  date-modified = {2019-09-09 03:48:39 +0000},
  howpublished = {Argonne Outloud Public Lecture, Argonne, IL},
  month = {May},
  title = {Artificial Intelligence to Accelerate Discovery and Development},
  year = {2019}
}
</pre>

<a name="Bal2019d"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2019d">Bal2019d</a>,
  author = {P. Balaprakash},
  date-added = {2019-09-09 03:14:42 +0000},
  date-modified = {2019-09-09 03:14:42 +0000},
  howpublished = {Data Enabled Modeling and Discovery in Science and Engineering Minisymposium, SIAM Conference on Computational Science and Engineering},
  month = {February},
  title = {{DeepHyper: Scalable Asynchronous Hyperparameter Search for Deep Learning}},
  year = {2019}
}
</pre>

<a name="Bal2019c"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2019c">Bal2019c</a>,
  author = {P. Balaprakash},
  date-added = {2019-09-09 03:10:43 +0000},
  date-modified = {2019-09-09 03:48:17 +0000},
  howpublished = {{OMASE 2019:} Optimization, Modeling, Analysis and Space Exploration Workshop, Washington DC},
  month = {February},
  title = {Machine-Learning-Based-Search for Automatic Performance Tuning},
  year = {2019}
}
</pre>

<a name="Bal2019b"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2019b">Bal2019b</a>,
  author = {P. Balaprakash},
  date-added = {2019-09-09 03:06:21 +0000},
  date-modified = {2019-09-09 03:48:10 +0000},
  howpublished = {{HPCaML 2019:} The First International Workshop on the Intersection of High Performance Computing and Machine Learning, Washington DC},
  month = {February},
  title = {Machine-Learning-Based Performance Modeling and Tuning for High-Performance Computing},
  year = {2019}
}
</pre>

<a name="Bal2019a"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2019a">Bal2019a</a>,
  author = {P. Balaprakash},
  date-added = {2019-09-09 03:04:51 +0000},
  date-modified = {2019-09-09 03:04:51 +0000},
  howpublished = {{LANS Informal Seminar}, Argonne, IL},
  month = {February},
  title = {Scalable Reinforcement-Learning-Based Neural Architecture Search for Scientific and Engineering Applications},
  year = {2019}
}
</pre>

<a name="Bal2018q"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2018q">Bal2018q</a>,
  author = {P. Balaprakash},
  date-added = {2019-02-10 21:12:55 +0000},
  date-modified = {2019-02-10 21:12:55 +0000},
  howpublished = {Advanced Photon Source Colloquium, Argonne, IL},
  month = {December},
  title = {Scientific Domain-Informed Machine Learning},
  year = {2018}
}
</pre>

<a name="Bal2018m"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2018m">Bal2018m</a>,
  author = {P. Balaprakash},
  date-added = {2019-01-19 21:58:06 +0000},
  date-modified = {2019-02-10 21:12:16 +0000},
  howpublished = {ALCF Simulation, Data, and Learning Workshop, Argonne, IL},
  month = {October},
  title = {Scientific Domain-Informed Machine Learning},
  year = {2018}
}
</pre>

<a name="Bal2018n"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2018n">Bal2018n</a>,
  author = {P. Balaprakash},
  date-added = {2019-01-19 21:55:03 +0000},
  date-modified = {2019-02-10 21:12:22 +0000},
  howpublished = {Workshop on Deep Learning for Multimessenger Astrophysics: Real-time Discovery at Scale},
  month = {October},
  title = {Reproducibility, portability and interpretability of deep learning},
  year = {2018}
}
</pre>

<a name="Bal2018h"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2018h">Bal2018h</a>,
  author = {P. Balaprakash},
  date-added = {2019-01-19 21:43:11 +0000},
  date-modified = {2019-02-10 21:11:40 +0000},
  howpublished = {Department Seminar Series, Mechanical and Industrial Engineering, University of Illinois at Chicago, IL},
  month = {October},
  title = {Scientific Domain-Informed Machine Learning},
  year = {2018}
}
</pre>

<a name="Bal2018l"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2018l">Bal2018l</a>,
  author = {P. Balaprakash},
  date-added = {2019-01-19 21:33:08 +0000},
  date-modified = {2019-02-10 21:12:09 +0000},
  howpublished = {CANDLE-EXALEARN ECP Workshop, Argonne, IL},
  month = {October},
  title = {Data parallel deep learning},
  year = {2018}
}
</pre>

<a name="Bal2018j"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2018j">Bal2018j</a>,
  author = {P. Balaprakash},
  date-added = {2019-01-19 21:30:56 +0000},
  date-modified = {2019-02-10 21:11:56 +0000},
  howpublished = {Workshop on Large-Scale Computing for Transportation Studies, Maui, HI},
  month = {November},
  title = {Spatial-temporal deep learning and hyperparameter search for traffic prediction},
  year = {2018}
}
</pre>

<a name="Bal2019m"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2019m">Bal2019m</a>,
  author = {P. Balaprakash},
  date-added = {2019-01-19 21:12:31 +0000},
  date-modified = {2019-09-23 03:41:51 +0000},
  howpublished = {PSE AI in Science and Engineering Workshop, Argonne, IL},
  month = {September},
  title = {{AI} Tools},
  year = {2019}
}
</pre>

<a name="Bal2018k"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2018k">Bal2018k</a>,
  author = {P. Balaprakash},
  date-added = {2019-01-19 21:10:17 +0000},
  date-modified = {2019-02-10 21:12:03 +0000},
  howpublished = {{PMBS 2018:} Performance Modeling, Benchmarking and Simulation of High Performance Computer Systems},
  month = {November},
  title = {Benchmarking Machine Learning Methods for Performance Modeling of Scientific Applications},
  year = {2018}
}
</pre>

<a name="Bal2018p"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2018p">Bal2018p</a>,
  author = {P. Balaprakash},
  date-added = {2019-01-19 21:03:02 +0000},
  date-modified = {2019-02-10 21:31:16 +0000},
  howpublished = {Indian Institute of Science, Bengaluru, India},
  month = {December},
  title = {Scientific Domain-Informed Machine Learning},
  year = {2018}
}
</pre>

<a name="Bal2018o"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2018o">Bal2018o</a>,
  author = {P. Balaprakash},
  date-added = {2019-01-19 20:58:50 +0000},
  date-modified = {2019-02-10 21:12:29 +0000},
  howpublished = {25th IEEE International Conference on High Performance Computing, Data, and Analytics, Bengaluru, India},
  month = {December},
  title = {{DeepHyper:} {Asynchronous Hyperparameter Search for Deep Neural Networks}},
  year = {2018}
}
</pre>

<a name="Bal2018g"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2018g">Bal2018g</a>,
  author = {P. Balaprakash},
  date-added = {2019-01-19 20:57:43 +0000},
  date-modified = {2019-01-19 21:02:45 +0000},
  howpublished = {Army Research Lab Workshop, Chicago, IL},
  month = {May},
  title = {Tools for Scientific Machine Learning},
  year = {2018}
}
</pre>

<a name="Bal2018f"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2018f">Bal2018f</a>,
  author = {P. Balaprakash},
  date-added = {2018-09-28 20:44:24 +0000},
  date-modified = {2018-09-28 20:47:01 +0000},
  howpublished = {Argonne Environmental Science Division Retreat},
  month = {May},
  title = {Machine Learning Overview and Applications},
  year = {2018}
}
</pre>

<a name="Bal2018e"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2018e">Bal2018e</a>,
  author = {P. Balaprakash},
  date-added = {2018-09-28 20:42:53 +0000},
  date-modified = {2018-09-28 20:42:53 +0000},
  howpublished = {Argonne Geospatial Workshop},
  month = {August},
  title = {Data for Machine Learning},
  year = {2018}
}
</pre>

<a name="Bal2018d"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2018d">Bal2018d</a>,
  author = {P. Balaprakash},
  date-added = {2018-09-28 20:40:59 +0000},
  date-modified = {2018-09-28 20:40:59 +0000},
  howpublished = {Argonne Deep Learning Workshop},
  month = {January},
  title = {Recurrent Neural Networks},
  year = {2018}
}
</pre>

<a name="Bal2018c"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2018c">Bal2018c</a>,
  author = {P. Balaprakash},
  date-added = {2018-09-28 20:39:49 +0000},
  date-modified = {2018-09-28 20:39:49 +0000},
  howpublished = {Argonne Deep Learning Workshop},
  month = {January},
  title = {Deep Learning Basics},
  year = {2018}
}
</pre>

<a name="Bal2018b"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2018b">Bal2018b</a>,
  author = {P. Balaprakash},
  date-added = {2018-09-28 20:39:07 +0000},
  date-modified = {2018-09-28 20:39:07 +0000},
  howpublished = {SciDAC Fusion Machine-Learning Workshop 2018, Princeton, NJ},
  month = {June},
  title = {Machine Learning Hardware},
  year = {2018}
}
</pre>

<a name="Bal2019g"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2019g">Bal2019g</a>,
  author = {P. Balaprakash},
  date-added = {2018-09-28 20:37:18 +0000},
  date-modified = {2019-09-09 03:50:07 +0000},
  howpublished = {ATPESC 2019: Argonne Training Program on Extreme-Scale Computing, St. Charles, IL},
  month = {August},
  title = {Hyperparameter Optimization and DeepHyper},
  year = {2019}
}
</pre>

<a name="Bal2018a"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2018a">Bal2018a</a>,
  author = {P. Balaprakash},
  date-added = {2018-09-28 20:35:37 +0000},
  date-modified = {2018-09-28 20:35:37 +0000},
  howpublished = {7th Greater Chicago Area Systems Research Workshop University of Chicago, Chicago, IL},
  month = {April},
  title = {Machine Learning in High Performance Computing},
  year = {2018}
}
</pre>

<a name="Bal2017p"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2017p">Bal2017p</a>,
  author = {P. Balaprakash},
  date-added = {2018-09-28 20:32:49 +0000},
  date-modified = {2018-09-28 20:32:49 +0000},
  howpublished = {Argonne Machine Learning Workshop, Argonne, IL},
  month = {April},
  title = {Introduction to Unsupervised and Supervised Learning in Python: Hands-on Tutorial},
  year = {2017}
}
</pre>

<a name="Bal2017c"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2017c">Bal2017c</a>,
  author = {P. Balaprakash},
  date-added = {2017-09-22 18:19:20 +0000},
  date-modified = {2017-09-29 04:03:07 +0000},
  howpublished = {Argonne Training Program on Extreme-Scale Computing (ATPESC), St. Charles, IL},
  month = {August},
  title = {Introduction to Unsupervised and Supervised Learning in Python: Hands-on Tutorial},
  year = {2017}
}
</pre>

<a name="Bal2017f"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2017f">Bal2017f</a>,
  author = {P. Balaprakash},
  date-added = {2017-09-22 18:18:52 +0000},
  date-modified = {2017-09-22 18:35:39 +0000},
  howpublished = {Argonne Machine Learning Workshop, Argonne, IL},
  month = {July},
  title = {Overview of Machine Learning Methods},
  year = {2017}
}
</pre>

<a name="Bal2017l"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2017l">Bal2017l</a>,
  author = {P. Balaprakash},
  date-added = {2017-09-22 18:05:01 +0000},
  date-modified = {2017-09-22 18:05:01 +0000},
  howpublished = {The 3rd International Workshop on Data Science in High Energy Physics (DS@HEP 2017), Fermi National Accelerator Laboratory, IL},
  month = {May},
  title = {Generative Adversarial Networks},
  year = {2017}
}
</pre>

<a name="Bal2017e"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2017e">Bal2017e</a>,
  author = {P. Balaprakash},
  date-added = {2017-09-22 18:02:59 +0000},
  date-modified = {2017-09-22 18:02:59 +0000},
  howpublished = {US ATLAS Workshop, Argonne, IL},
  month = {July},
  title = {Generative Adversarial Networks},
  year = {2017}
}
</pre>

<a name="Bal2017j"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2017j">Bal2017j</a>,
  author = {P. Balaprakash},
  date-added = {2017-09-22 18:01:41 +0000},
  date-modified = {2017-09-22 18:01:41 +0000},
  howpublished = {Workshop on Optimization and Machine Learning (ACNTW 17), Northwestern University, Argonne},
  month = {May},
  title = {Automatic Multi-Objective Modeling with Machine Learning},
  year = {2017}
}
</pre>

<a name="Bal2017k"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2017k">Bal2017k</a>,
  author = {P. Balaprakash},
  date-added = {2017-09-22 17:59:03 +0000},
  date-modified = {2017-09-22 18:02:23 +0000},
  howpublished = {Computing Frontiers 2017, University of Siena, Siena, Italy},
  month = {May},
  title = {Analytical Performance Modeling and Validation of Intel's Xeon Phi Architecture},
  year = {2017}
}
</pre>

<a name="Bal2017b"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2017b">Bal2017b</a>,
  author = {P. Balaprakash},
  date-added = {2017-09-22 17:52:16 +0000},
  date-modified = {2017-09-22 17:52:16 +0000},
  howpublished = {Argonne Training Program on Extreme-Scale Computing (ATPESC), St. Charles, IL},
  month = {August},
  title = {Overview of Machine Learning Methods},
  year = {2017}
}
</pre>

<a name="Bal2017i"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2017i">Bal2017i</a>,
  author = {P. Balaprakash},
  date-added = {2017-09-22 17:52:01 +0000},
  date-modified = {2017-09-22 23:33:30 +0000},
  howpublished = {Argonne Machine Learning Workshop, Argonne, IL},
  month = {July},
  title = {Introduction to Unsupervised and Supervised Learning in Python: Hands-on Tutorial},
  year = {2017}
}
</pre>

<a name="Bal2017h"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2017h">Bal2017h</a>,
  author = {P. Balaprakash},
  date-added = {2017-09-22 17:37:10 +0000},
  date-modified = {2017-09-22 18:29:00 +0000},
  howpublished = {Argonne Machine Learning Workshop, Argonne, IL},
  month = {July},
  title = {Automatic Multi-Objective Modeling with Machine Learning},
  year = {2017}
}
</pre>

<a name="Bal2017n"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2017n">Bal2017n</a>,
  author = {P. Balaprakash},
  date-added = {2017-09-22 17:31:31 +0000},
  date-modified = {2017-09-22 18:28:17 +0000},
  howpublished = {Argonne Machine Learning Workshop, Argonne, IL},
  month = {April},
  title = {Automatic Multi-Objective Modeling with Machine Learning},
  year = {2017}
}
</pre>

<a name="Bal2017o"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2017o">Bal2017o</a>,
  author = {P. Balaprakash},
  date-added = {2017-09-22 17:15:36 +0000},
  date-modified = {2017-09-22 18:27:43 +0000},
  howpublished = {Argonne Machine Learning Workshop, Argonne, IL},
  month = {April},
  title = {Overview of Machine Learning Methods},
  year = {2017}
}
</pre>

<a name="Bal2017d"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2017d">Bal2017d</a>,
  author = {P. Balaprakash},
  date-added = {2017-09-22 17:11:17 +0000},
  date-modified = {2017-09-22 18:31:19 +0000},
  howpublished = {Fourth Workshop on Programming Abstractions for Data Locality (PADAL'17), Chicago, IL},
  month = {August},
  title = {Need for Data Locality in Machine/Deep Learning},
  year = {2017}
}
</pre>

<a name="Bal2017m"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2017m">Bal2017m</a>,
  author = {P. Balaprakash},
  date-added = {2017-09-22 17:04:45 +0000},
  date-modified = {2017-09-22 18:18:02 +0000},
  howpublished = {Tech Hub, SAE World Congress 2017, Detroit, MI},
  month = {May},
  title = {Artificial Intelligence for Transportation and Mobility},
  year = {2017}
}
</pre>

<a name="Bal2017a"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2017a">Bal2017a</a>,
  author = {P. Balaprakash},
  date-added = {2017-09-22 16:58:22 +0000},
  date-modified = {2017-09-22 17:04:21 +0000},
  howpublished = {Argonne Training Program on Extreme-Scale Computing (ATPESC), St. Charles, IL},
  month = {August},
  title = {Automatic Multi-Objective Modeling with Machine Learning},
  year = {2017}
}
</pre>

<a name="Bal2007b"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2007b">Bal2007b</a>,
  author = {P. Balaprakash},
  date-added = {2017-01-08 19:56:18 +0000},
  date-modified = {2017-01-28 05:28:33 +0000},
  howpublished = {4th International Workshop on Hybrid Metaheuristics, Dortmund, Germany},
  month = {October},
  title = {Improvement strategies for the {F-Race} algorithm: Sampling design and iterative refinement},
  year = {2007}
}
</pre>

<a name="Bal2005"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2005">Bal2005</a>,
  author = {P. Balaprakash},
  date-added = {2017-01-08 19:54:10 +0000},
  date-modified = {2017-01-28 05:27:13 +0000},
  howpublished = {MIC 2005: The 6th Metaheuristics International Conference, Vienna, Austria},
  month = {August},
  title = {{ACO/F-Race}: Ant colony optimization and racing techniques for combinatorial optimization under uncertainty},
  year = {2005}
}
</pre>

<a name="Bal2016f"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2016f">Bal2016f</a>,
  author = {P. Balaprakash},
  date-added = {2017-01-08 19:51:00 +0000},
  date-modified = {2017-01-28 05:21:22 +0000},
  howpublished = {6th Joint Laboratory for Extreme Scale Computing (JLESC) Workshop, Kobe, Japan},
  month = {June},
  title = {Multi objective optimization of {HPC} kernels for performance, power, and energy},
  year = {2016}
}
</pre>

<a name="Bal2013d"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2013d">Bal2013d</a>,
  author = {P. Balaprakash},
  date-added = {2017-01-08 19:32:32 +0000},
  date-modified = {2017-01-28 05:25:09 +0000},
  howpublished = {PMaC/SDSC Seminar, San Diego, CA},
  month = {July},
  title = {Search Algorithms in Empirical Performance Tuning and Machine Learning for Computationally Expensive Simulations},
  year = {2013}
}
</pre>

<a name="Bal2007a"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2007a">Bal2007a</a>,
  author = {P. Balaprakash},
  date-added = {2017-01-08 19:27:39 +0000},
  date-modified = {2017-01-28 05:26:49 +0000},
  howpublished = {LION 2007 II: Learning and Intelligent Optimization, Trento, Italy},
  month = {December},
  title = {An experimental study of estimation-based metaheuristics for the probabilistic traveling salesman problem},
  year = {2007}
}
</pre>

<a name="Bal2012e"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2012e">Bal2012e</a>,
  author = {P. Balaprakash},
  date-added = {2017-01-08 19:04:42 +0000},
  date-modified = {2017-01-28 05:24:27 +0000},
  howpublished = {ANL Mathematics and Computer Science Division Seminar, Lemont, IL},
  month = {December},
  title = {Search Algorithms in Empirical Performance Tuning and Machine Learning for Computationally Expensive Simulations},
  year = {2012}
}
</pre>

<a name="Bal2016e"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2016e">Bal2016e</a>,
  author = {P. Balaprakash},
  date-added = {2016-09-29 03:52:13 +0000},
  date-modified = {2017-01-28 05:30:09 +0000},
  howpublished = {Midwest Big Data Opportunities and Challenges, Chicago, IL},
  month = {September},
  title = {Machine learning for high performance computing},
  year = {2016}
}
</pre>

<a name="Bal2016c"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2016c">Bal2016c</a>,
  author = {P. Balaprakash},
  date-added = {2016-07-11 00:52:32 +0000},
  date-modified = {2017-01-28 05:30:47 +0000},
  howpublished = {11th International Workshop on Automatic Performance Tuning, iWAPT 2016, Chicago, IL},
  month = {May},
  title = {Exploiting performance portability in search algorithms for autotuning},
  year = {2016}
}
</pre>

<a name="Bal2016d"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2016d">Bal2016d</a>,
  author = {P. Balaprakash},
  date-added = {2016-07-11 00:49:24 +0000},
  date-modified = {2017-01-28 05:28:56 +0000},
  howpublished = {The 45th International Conference on Parallel Processing, ICPP 2016, Philadelphia, PA},
  month = {August},
  title = {Improving Data Transfer Throughput with Direct Search Optimization},
  year = {2016}
}
</pre>

<a name="Bal2016a"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2016a">Bal2016a</a>,
  author = {P. Balaprakash},
  date-added = {2016-07-11 00:45:29 +0000},
  date-modified = {2017-01-28 05:20:44 +0000},
  howpublished = {International Supercomputing Conference, ISC 2016, Frankfurt, Germany},
  month = {June},
  title = {{AutoMOMML: Automatic Multi-objective Modeling with Machine Learning}},
  year = {2016}
}
</pre>

<a name="Bal2016b"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2016b">Bal2016b</a>,
  author = {P. Balaprakash},
  date-added = {2016-07-11 00:43:09 +0000},
  date-modified = {2017-01-28 05:21:06 +0000},
  howpublished = {5th Joint Laboratory for Extreme Scale Computing (JLESC) Workshop, Lyon, France},
  month = {June},
  title = {{AutoMOMML: Automatic Multi-objective Modeling with Machine Learning}},
  year = {2016}
}
</pre>

<a name="Bal2015b"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2015b">Bal2015b</a>,
  author = {P. Balaprakash},
  date-added = {2015-09-28 15:32:09 +0000},
  date-modified = {2017-01-28 05:21:52 +0000},
  howpublished = {Urban Data Analytics/City of Chicago SmartData Platform Workshop, Chicago, IL},
  month = {May},
  title = {Predictive modeling for large scale vehicle simulations},
  year = {2015}
}
</pre>

<a name="Bal2015a"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2015a">Bal2015a</a>,
  author = {P. Balaprakash},
  date-added = {2015-03-06 00:30:32 +0000},
  date-modified = {2017-01-28 05:22:08 +0000},
  howpublished = {2015 DOE ASCR Machine Learning Workshop, Rockville, MD},
  month = {January},
  title = {Self-aware runtime and operating Systems},
  year = {2015}
}
</pre>

<a name="Bal2014b"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2014b">Bal2014b</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:22:28 +0000},
  howpublished = {Department of Mathematics, Statistics and Computer Science Colloquium, Marquette University, Milwaukee, WI},
  month = {October},
  title = {Automatic performance modeling and tuning},
  year = {2014}
}
</pre>

<a name="Bal2014c"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2014c">Bal2014c</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:22:44 +0000},
  howpublished = {11th International Meeting on High-Performance Computing for Computational Science (VECPAR 2014), Eugene, OR},
  month = {July},
  note = {{Conference Talk}},
  title = {Machine-learning-based load balancing for community ice code component in {CESM}},
  year = {2014}
}
</pre>

<a name="Bal2014a"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2014a">Bal2014a</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:23:08 +0000},
  howpublished = {Computation Institute, UChicago, Lemont, IL},
  month = {February},
  title = {Active-learning-based surrogate models for empirical performance tuning},
  year = {2014}
}
</pre>

<a name="Bal2013a"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2013a">Bal2013a</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:23:22 +0000},
  howpublished = {10th workshop of the INRIA-Illinois-ANL Joint Laboratory, Urbana, IL},
  month = {November},
  title = {Active-learning-based surrogate models for empirical performance tuning},
  year = {2013}
}
</pre>

<a name="Bal2013c"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2013c">Bal2013c</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:23:39 +0000},
  howpublished = {4th International Workshop on Performance Modeling, Benchmarking and Simulation of High Performance Computer Systems (PMBS13), Denver, CO},
  month = {November},
  title = {Multi objective optimization of {HPC} kernels for performance, power, and energy},
  year = {2013}
}
</pre>

<a name="Bal2013b"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2013b">Bal2013b</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:23:53 +0000},
  howpublished = {2013 IEEE International Conference on Cluster Computing (CLUSTER), Indianapolis, IN},
  month = {September},
  title = {Active-learning-based surrogate models for empirical performance tuning},
  year = {2013}
}
</pre>

<a name="Bal2012b"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2012b">Bal2012b</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:24:06 +0000},
  howpublished = {IPAM Chemical Compound Space Reunion, Lake Arrowhead, CA},
  month = {December},
  title = {A sequential learning approach for quantum chemistry simulations},
  year = {2012}
}
</pre>

<a name="Bal2012c"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2012c">Bal2012c</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:25:34 +0000},
  howpublished = {Workshop on Tools for Program Development and Analysis in Computational Science, International Conference on Computational Science, ICCS 2012, Omaha, NE},
  month = {June},
  title = {{SPAPT}: {S}earch {P}roblems in {A}utomatic {P}erformance {T}uning},
  year = {2012},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1016/j.procs.2012.04.214">http://dx.doi.org/10.1016/j.procs.2012.04.214</a>}
}
</pre>

<a name="Bal2012a"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2012a">Bal2012a</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:25:49 +0000},
  howpublished = {SIAM Conference on Parallel Processing (SIAM PP 2012), Savannah, GA},
  month = {February},
  title = {Efficient optimization algorithms for empirical performance tuning},
  year = {2012}
}
</pre>

<a name="Bal2012d"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2012d">Bal2012d</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:26:03 +0000},
  howpublished = {DOE CScADS Workshop on Libraries and Autotuning for Extreme-Scale Systems, Snowbird, UT},
  month = {August},
  title = {Global and local search algorithms in empirical performance tuning},
  year = {2011}
}
</pre>

<a name="Bal2011b"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2011b">Bal2011b</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:26:24 +0000},
  howpublished = {Workshop on Automatic Performance Tuning, International Conference on Computational Science, ICCS 2011, Singapore},
  month = {June},
  title = {Can search algorithms save large-scale automatic performance tuning?},
  year = {2011},
  bdsk-url-1 = {<a href="http://dx.doi.org/10.1016/j.procs.2011.04.234">http://dx.doi.org/10.1016/j.procs.2011.04.234</a>}
}
</pre>

<a name="Bal2011a"></a><pre>
@periodical{<a href="pbalapra-presentations.html#Bal2011a">Bal2011a</a>,
  author = {P. Balaprakash},
  date-added = {2014-12-22 20:07:22 +0000},
  date-modified = {2017-01-28 05:26:39 +0000},
  howpublished = {2011 SIAM Conference on Computational Science and Engineering, Reno, NV},
  month = {March},
  title = {Comparison of search strategies in empirical performance tuning of linear algebra kernels},
  year = {2011}
}
</pre>

