
<table>

<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2016d">1</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Improving data transfer throughput with direct search optimization.
 The 45th International Conference on Parallel Processing, ICPP 2016,
  August 2016.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2016d">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2016a">2</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 AutoMOMML: Automatic Multi-objective Modeling with Machine
  Learning.
 International Supercomputing Conference, ISC 2016, June 2016.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2016a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2016b">3</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 AutoMOMML: Automatic Multi-objective Modeling with Machine
  Learning.
 5th Joint Laboratory for Extreme Scale Computing (JLESC) Workshop,
  June 2016.
 Invited Talk.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2016b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2016c">4</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Exploiting performance portability in search algorithms for
  autotuning.
 11^th International Workshop on Automatic Performance Tuning, iWAPT
  2016 (in press), May 2016.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2016c">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2015b">5</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Predictive modeling for large scale vehicle simulations.
 Urban Data Analytics/City of Chicago SmartData Platform Workshop, May
  2015.
 Invited Talk.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2015b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2015a">6</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Self-aware runtime and operating systems.
 2015 ASCR Machine Learning Workshop, January 2015.
 Invited Talk.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2015a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2014b">7</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Automatic performance modeling and tuning.
 Department of Mathematics, Statistics and Computer Science
  Colloquium, Marquette University, October 2014.
 Invited Talk.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2014b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2014c">8</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Machine-learning-based load balancing for community ice code
  component in CESM.
 11th International Meeting on High-Performance Computing for
  Computational Science (VECPAR 2014), July 2014.
 Conference Talk.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2014c">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2014a">9</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Active-learning-based surrogate models for empirical performance
  tuning.
 Computation Institute, UChicago, February 2014.
 Computation Institute Talk.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2014a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2013a">10</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Active-learning-based surrogate models for empirical performance
  tuning.
 10th workshop of the INRIA-Illinois-ANL Joint Laboratory, November
  2013.
 Invited Talk.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2013a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2013c">11</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Multi objective optimization of HPC kernels for performance, power,
  and energy.
 4th International Workshop on Performance Modeling, Benchmarking and
  Simulation of High Performance Computer Systems (PMBS13), November 2013.
 Workshop Talk.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2013c">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2013b">12</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Active-learning-based surrogate models for empirical performance
  tuning.
 2013 IEEE International Conference on Cluster Computing (CLUSTER),
  September 2013.
 Conference Talk.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2013b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2012b">13</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 A sequential learning approach for quantum chemistry simulations.
 IPAM Chemical Compound Space Reunion, December 2012.
 Invited Talk.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2012b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2012c">14</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 SPAPT: Search Problems in Automatic Performance Tuning.
 Workshop on Tools for Program Development and Analysis in
  Computational Science, International Conference on Computational Science,
  ICCS 2012, June 2012.
 Workshop Talk.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2012c">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2012a">15</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Efficient optimization algorithms for empirical performance tuning.
 SIAM Conference on Parallel Processing (SIAM PP 2012), February 2012.
 Conference Talk.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2012a">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2012d">16</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Global and local search algorithms in empirical performance tuning.
 DOE CScADS Workshop on Libraries and Autotuning for Extreme-Scale
  Systems, August 2011.
 Invited Talk.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2012d">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2011b">17</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Can search algorithms save large-scale automatic performance tuning?
 Workshop on Automatic Performance Tuning, International Conference on
  Computational Science, ICCS 2011, June 2011.
 Workshop Talk.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2011b">bib</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="Bal2011a">18</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash.
 Comparison of search strategies in empirical performance tuning of
  linear algebra kernels.
 2011 SIAM Conference on Computational Science and Engineering, March
  2011.
 Conference Talk.
[&nbsp;<a href="pbalapra-presentations_bib.html#Bal2011a">bib</a>&nbsp;]

</td>
</tr>
</table>