
<table>

<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="fpgaopt2016">1</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, A.&nbsp;Mametjanov, C.&nbsp;Choudary, P.&nbsp;D. Hovland, S.&nbsp;M. Wild, and
  G.&nbsp;Sabin.
 FPGAtuner: Autotuning FPGA Design Parameters for Performance and
  Power, 2016.
 A machine-learning-based approach to tune FPGA design parameters. It
  performs sampling-based reduction of the parameter space and guides the
  search toward promising parameter configurations.
[&nbsp;<a href="pbalapra-software_bib.html#fpgaopt2016">bib</a>&nbsp;| 
<a href="https://xgitlab.cels.anl.gov/pbalapra/fpgaopt">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="automomml2016">2</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, A.&nbsp;Tiwari, S.&nbsp;M. Wild, L.&nbsp;Carrington, and P.&nbsp;D. Hovland.
 AutoMOMML: Automatic Multi-objective Modeling with Machine
  Learning, 2016.
 AutoMOMML is an end-to-end, machine-learning-based framework to build
  predictive models for objectives such as performance, and power. The
  framework adopts statistical approaches to reduce the modeling complexity and
  automatically identifies and configures the most suitable learning algorithm
  to model the required objectives based on hardware and application
  signatures.
[&nbsp;<a href="pbalapra-software_bib.html#automomml2016">bib</a>&nbsp;| 
<a href="https://xgitlab.cels.anl.gov/pbalapra/automomml">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="spapt2011">3</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, S.&nbsp;M. Wild, and B.&nbsp;Norris.
 SPAPT: Search Problems in Automatic Performance Tuning,
  2011.
 A set of extensible and portable search problems in automatic
  performance tuning whose goal is to aid in the development and improvement of
  search strategies and performance-improving transformations. SPAPT contains
  representative implementations from a number of lower-level, serial
  performance-tuning tasks in scientific applications. Available with the Orio
  autotuning framework.
[&nbsp;<a href="pbalapra-software_bib.html#spapt2011">bib</a>&nbsp;| 
<a href="https://github.com/brnorris03/Orio/tree/master/testsuite/SPAPT">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="irace2010">4</a>]
</td>
<td class="bibtexitem" align="justify">
M.&nbsp;L. Ibanez, J.&nbsp;D. Lacoste, T.&nbsp;St&uuml;tzle, M.&nbsp;Birattari, E.&nbsp;Yuan, and
  P.&nbsp;Balaprakash.
 The irace Package: Iterated Race for Automatic Algorithm
  Configuration, 2010.
 The irace package implements the iterated racing procedure, which is
  an extension of the Iterated F-race procedure. Its main purpose is to
  automatically configure optimization algorithms by finding the most
  appropriate settings given a set of instances of an optimization problem. It
  builds upon the race package by Birattari, and it is implemented in R.
[&nbsp;<a href="pbalapra-software_bib.html#irace2010">bib</a>&nbsp;| 
<a href="http://cran.r-project.org/web/packages/irace/">http</a>&nbsp;]

</td>
</tr>


<tr valign="top">
<td align="right" class="bibtexnumber">
[<a name="els-ptsp2009">5</a>]
</td>
<td class="bibtexitem" align="justify">
P.&nbsp;Balaprakash, M.&nbsp;Birattari, and T.&nbsp;St&uuml;tzle.
 ELS-PTSP: Estimation-based Local Search for the Probabilistic
  Traveling Salesman Problem, 2009.
 This software package provides a high-performance implementation of
  the estimation-based iterative improvement algorithm to tackle the
  probabilistic traveling salesman problem. A key novelty of the proposed
  algorithm is that the cost difference between two neighbor solutions is
  estimated by partial evaluation, adaptive, and importance sampling. Developed
  in C with GNU scientific library under Linux.
[&nbsp;<a href="pbalapra-software_bib.html#els-ptsp2009">bib</a>&nbsp;| 
<a href="https://github.com/pbalapra/els-ptsp">http</a>&nbsp;]

</td>
</tr>
</table>