<section id="research">
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
    <p>
        <a href="#interests">Research Interests</a><br />
        <a href="#projects">Projects</a><br />
        <a href="#awards">Awards and Fellowships</a><br />
        <!-- <a href="#cv">Curriculam Vitæ</a> <br /> -->
        <a href="#education">Education </a>
    </p>
    </div>

    <div class="panel-body">
    <h5> <a name="interests" id="interests">Research Interests</a></h5>
    <p>
        Artificial intelligence, Machine/Deep learning, Neuromorphic computing, High-performance computing, Automatic tuning, Derivative-free approaches for numerical
        optimization, and Stochastic local search algorithms for combinatorial optimization.
    </p>

    <h5> <a name="projects" id="projects">Selected Projects</a></h5>
    <h6>Current</h6>
    <ul class="itemize1">
    <li>Scalable Data-Efficient Learning for Scientific Domains (DOE ASCR Early Career Research Program)</il>
    <li>Probabilistic Machine Learning for Rapid Large-Scale and High-Rate Aerostructure Manufacturing (DOE EERE) </li>
    <li><a href="https://sites.google.com/view/poseidon-workflows/home" target="blank_">PosEiDon: Platform for Explainable Distributed Infrastructure (DOE ASCR ICDI Program)</a>
    <li><a href="http://rapids-scidac.org/" target="_blank">RAPIDS: A SciDAC Institute for Computer Science and Data (DOE ASCR SciDAC)</a></li>
    <li>High Performance Computing and Big Data Solutions for Mobility Design and Planning (DOE EERE/VTO)</li>
    <li> <a href="https://www.ornl.gov/project/proteas-tune" target="_blank"> PROTEAS-TUNE (DOE ASCR Exascale Computing Project)</a></li>
    </ul>
    <h6>Past</h6>
    <ul class="itemize1">
    <li>DAIN: Dynamic architectures through introspection and neuromodulation (DARPA's Lifelong Learning Machines Program)</li>  
    <li>>Accelerating HEP Science: Inference and Machine Learning at Extreme Scales (DOE SciDAC)</li>
    <li> <a href="http://candle.cels.anl.gov/" target="_blank"> CANDLE: Exascale Deep Learning and Simulation Enabled Precision Medicine for Cancer </a></li>
    <li> <a href="https://www.mcs.anl.gov/project/autotuning-compiler-technology-cross-architecture-transformation-and-code-generation" target="_blank"> YTune: Autotuning Compiler Technology for Cross-Architecture Transformation and Code Generation </a></li>
    <li> SLIK-D: Scalable Machine Learning Infrastructures for Knowledge Discovery</a></li>
    <li> Automated Machine Learning Pipeline for City of Chicago's Smart Data Platform </li>
    <li><a href="https://sites.google.com/site/ramsesdoeproject/" target="_blank">RAMSES: Robust Analytical Models for Science at Extreme Scale </a>  </li>
    <li><a href="http://super-scidac.org/" target="_blank">SUPER: Institute for Sustained Performance, Energy and Resilience</a>  </li>  
    <li> Machine Learning Guided Error Resilience </a></li>
    <li> Improving Computational Science Throughput via Model-Based I/O Optimization </a></li>
    <li><a href="http://ctop.cs.utah.edu/x-tune/" target="_blank">XTUNE: Autotuning for Exascale</a>  </li>
    <li><a href="http://sbir.gsfc.nasa.gov/content/orfpga-empirical-performance-tuning-tool-fpga-designs" target="_blank">OrFPGA: Empirical Performance Tuning for FPGA Designs in Space Applications </a>  </li>
    <li> Machine Learning for <a href="http://www.autonomie.net/" target="_blank"> Vehicle Modeling Simulations </a>  </li>
    <li><a href="http://www.mcs.anl.gov/project/cache-communication-avoidance-and-communication-hiding-extreme-scale" target="_blank">CACHE Institute: Communication Avoidance and Communication Hiding at the Extreme Scale</a> </li>
    <li><a href="https://sites.google.com/site/uchicagolssg/lssg/research/10x10" target="_blank">10x10 - Systematic Heterogenous Architecture</a></li>
    <li> Machine Learning based Load Balancing for <a href="http://www2.cesm.ucar.edu/" target="_blank"> Community Earth System Model </a> on <a href="https://www.alcf.anl.gov/mira" target="_blank"> Leadership-Class Machines</a></li>
    </ul>

    <h5><a name="awards" id="awards">Awards and Fellowships</a></h5>

   <ul class="itemize1" align="justify">
      <li class="itemize"> 
          <a href="http://www.mcs.anl.gov/articles/prasanna-balaprakash-wins-doe-early-career-award" target="_blank">U.S. Department of Energy 2018 Early Career Award</a> funded by the <a href="https://science.energy.gov/ascr/" target="_blank">Advanced Scientific Computing Research</a> program within the DOE Office of Science. 
      </li>
     <li class="itemize">Best paper award, 21st High Performance Computing Symposia (HPC), The Society for Modeling &amp;
     Simulation International, San Diego, April 2013.
     </li>
     <!--
     <li class="itemize">NSF/SIAM  travel  award,  for  SIAM  Conference  on  Parallel  Processing  for  Scientific  Computing,
     Savannah, GA, February 15-17, 2012.
     -->
     </li>
     <li class="itemize"><a href="http://www.fnrs.be/en/" target="_blank"></a>F.R.S-FNRS  Chargé  de  recherches</a>  fellowship,  from  the  Belgian  Funds  for  Scientific  Research  from
     October 2010 to September 2013 (one of the most competitive postdoctoral fellowships in Belgium).
     Declined in order to accept postdoc at Argonne National Laboratory.
    </li>
     <li class="itemize"><a href="http://www.fnrs.be/en/" target="_blank">F.R.S-FNRS Aspirant</a> fellowship, from the Belgian Funds for Scientific Research, from October 2006 to
     September 2008 (one of the most competitive Ph.D. fellowships in Belgium).
     </li>
     <li class="itemize"> <a href="https://ec.europa.eu/research/mariecurieactions" target="blank_">Marie  Curie  fellowship</a> from  the  European  Commission  through  the  fifth  framework  human
     resources and mobility program, from November 2004 to September 2006 (one of the most competitive
     Ph.D. fellowships at the European level).
     </li>
     <li class="itemize">International  student  scholarship,  for  the  best  academic  performance  from  Otto-von-Guericke
     Universität Magdeburg, Germany, from April 2003 to March 2004 (scholarship awarded every year to
     the top two international students).
     </li>
    </ul>
    </ul>

    <h5><a name="education" id="education">Education</a></h5>
    <ul class="itemize1">
    <li><a href="http://www.ulb.ac.be/" target="_blank">Universit&eacute; Libre de Bruxelles</a>, Belgium, Computer Science, Ph.D., 2010 </li>
    <li><a href="http://www.ulb.ac.be/" target="_blank">Universit&eacute; Libre de Bruxelles</a>, Belgium, Computer Science, Master of Advanced Studies, 2005 </li>
    <li><a href="https://www.ovgu.de/" target="_blank">Otto von Guericke - Universit&auml;t Magdeburg</a>, Germany, Computer Science, M.S., 2004 </li>
    <li>Periyar University, India, Computer Science, Bachelor of Engineering, 2002 </li>
    </ul>
<!--
    <h5><a name="cv" id="cv">Curriculam Vitæ</a></h5>

    <p>CV as of December 2014. [<a href="files/Prasanna.Balaprakash.CV.pdf" onClick="javascript: pageTracker._trackPageview('/downloads/map');" target="_blank">PDF</a>] <br>

    <h5><a name="education" id="education">Education</a></h5>
    
    <center>
      <h5>Doctoral</h5>
    </center>
    <p>
    <table width="836">
      <tr class="p2">
        <td width="161">Degree</td>
        <td width="663">Doctor of Philosophy in Engineering Sciences</td>
      </tr>
      <tr class="p2">
        <td width="161">Faculty</td>
        <td><a href="http://code.ulb.ac.be/iridia.home.php" target="_blank">IRIDIA</a>, <a href="http://code.ulb.ac.be/code.home.php" target="_blank">CoDE</a>, Facult&eacute; des sciences appliqu&eacute;es</td>
      </tr>
      <tr class="p2">
        <td width="161">Institution</td>
        <td><a href="http://www.ulb.ac.be/" target="_blank">Universit&eacute; Libre de Bruxelles</a>, Belgium</td>
      </tr>
      <tr class="p2">
        <td width="161">Thesis </td>
        <td>Estimation-based metaheuristics for stochastic combinatorial optimization: <br> Case studies in stochastic routing problems</td>
      </tr>
      <tr class="p2">
        <td width="161">Supervisor</td>
        <td><a href="http://iridia.ulb.ac.be/~mdorigo/HomePageDorigo/" target="_blank">Prof. Marco Dorigo</a></td>
      </tr>
      <tr class="p2">
        <td width="161">Co-supervisors</td>
        <td><a href="http://iridia.ulb.ac.be/~mbiro/" target="_blank">Dr. Mauro Birattari</a> and <a href="http://iridia.ulb.ac.be/~stuetzle/" target="_blank">Dr. Thomas St&uuml;tzle</a></td>
      </tr>
      <tr class="p2">
        <td>Conclusion</td>
        <td>January 2010 </td>
      </tr>
    </table>
    </p>
    <center>
      <h5>Pre-doctoral </h5>
    </center>
    <p> </p>
    <table width="836">
      <tr class="p2">
        <td width="161">Degree</td>
        <td width="663">Master of Advanced Studies (Dipl&ocirc;me d'Etudes Approfondies en Sciences Appliqu&eacute;es)  </td>
      </tr>
      <tr class="p2">
        <td width="161">Faculty</td>
        <td><a href="http://code.ulb.ac.be/iridia.home.php" target="_blank">IRIDIA</a>, <a href="http://code.ulb.ac.be/code.home.php" target="_blank">CoDE</a>, Facult&eacute; des sciences appliqu&eacute;es</td>
      </tr>
      <tr class="p2">
        <td width="161">Institution</td>
        <td><a href="http://www.ulb.ac.be/" target="_blank">Universit&eacute; Libre de Bruxelles</a>, Belgium</td>
      </tr>
      <tr class="p2">
        <td width="161">Thesis </td>
        <td>Ant Colony Optimization under Uncertainty</td>
      </tr>
      <tr class="p2">
        <td width="161">Supervisor</td>
        <td><a href="http://iridia.ulb.ac.be/~mdorigo/HomePageDorigo/" target="_blank">Prof. Marco Dorigo</a></td>
      </tr>
      <tr class="p2">
        <td width="161">Co-supervisor</td>
        <td><a href="http://iridia.ulb.ac.be/~mbiro/" target="_blank">Dr. Mauro Birattari</a></td>
      </tr>
      <tr class="p2">
        <td width="161">Conclusion</td>
        <td>September 2005</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <table width="836">
      <tr class="p2">
        <td width="162">Degree</td>
        <td width="672">Master of Science in Computer Science </td>
      </tr>
      <tr class="p2">
        <td width="162">Faculty</td>
        <td>Institut f&uuml;r Simulation und Graphik, <a href="http://www.cs.uni-magdeburg.de/home.html" target="_blank">Fakult&auml;t f&uuml;r Informatik</a></td>
      </tr>
      <tr class="p2">
        <td width="162">Institution</td>
        <td><a href="http://www.uni-magdeburg.de/" target="_blank">Otto von Guericke - Universit&auml;t Magdeburg</a>, Germany</td>
      </tr>
      <tr class="p2">
        <td width="162">Thesis </td>
        <td>Preprocessing of Petri nets and improved storage strategy for proxel based simulation</td>
      </tr>
      <tr class="p2">
        <td width="162">Supervisor</td>
        <td><a href="http://isgwww.cs.uni-magdeburg.de/~graham/" target="_blank">Prof. Graham Horton</a></td>
      </tr>
      <tr class="p2">
        <td width="162">Co-supervisor</td>
        <td><a href="http://faculty.uaeu.ac.ae/sanja/" target="_blank">Dr. Sanja Lazarova-Molnar</a></td>
      </tr>
      <tr class="p2">
        <td width="162">Conclusion</td>
        <td>May 2004</td>
      </tr>
    </table>
    
    <p>&nbsp;</p>
    <table width="836">
      <tr class="p2">
        <td width="162">Degree</td>
        <td width="672">Bachelor of Engineering in Computer Science </td>
      </tr>
      <tr class="p2">
        <td width="162">Faculty</td>
        <td>Department of Computer Science</td>
      </tr>
      <tr class="p2">
        <td width="162">Institution</td>
        <td><a href="http://www.vinayakamission.com/" target="_blank">Vinayaka Missions</a>, Periyar University Salem, India</td>
      </tr>
      <tr class="p2">
        <td width="162">Conclusion</td>
        <td>May 2002</td>
      </tr>
    </table>
    <p>&nbsp;</p>
  </div>


    </div>
  </div>
</div>
-->

</section>
