<section id="research">
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
    <p>
        <a href="#interests">Research Interests</a><br />
        <a href="#projects">Projects</a><br />
        <a href="#awards">Awards and Fellowships</a><br />
        <a href="#cv">Curriculam Vitæ</a> <br />
        <a href="#education">Education </a>
    </p>
    </div>

    <div class="panel-body">
    <h5> <a name="interests" id="interests">Research Interests</a></h5>
    <p>
        Artificial intelligence, Machine learning, High-performance computing, Automatic tuning, Derivative-free approaches for numerical
        optimization, and Stochastic local search algorithms for combinatorial optimization.
    </p>


    <h5> <a name="projects" id="projects">Projects</a></h5>
    <p>At Argonne, I was/am involved in the following projects:</p>
    <ul class="itemize1">
    <li> Machine Learning and Deep Learning Application Development on <a href="https://www.alcf.anl.gov/mira" target="_blank"> Leadership-Class Machines</a></li>
    <li><a href="https://sites.google.com/site/ramsesdoeproject/" target="_blank">RAMSES: Robust Analytical Models for Science at Extreme Scale </a>  </li>
    <li><a href="http://sbir.gsfc.nasa.gov/content/orfpga-empirical-performance-tuning-tool-fpga-designs" target="_blank">OrFPGA: Empirical Performance Tuning for FPGA Designs in Space Applications </a>  </li>
    <li><a href="http://ctop.cs.utah.edu/x-tune/" target="_blank">XTUNE: Autotuning for Exascale</a>  </li>
    <li><a href="http://super-scidac.org/" target="_blank">SUPER: Institute for Sustained Performance, Energy and Resilience</a>  </li>
    <li> Machine Learning for <a href="http://www.autonomie.net/" target="_blank"> Vehicle Modeling Simulations </a>  </li>
    <li><a href="http://www.mcs.anl.gov/project/cache-communication-avoidance-and-communication-hiding-extreme-scale" target="_blank">CACHE Institute: Communication Avoidance and Communication Hiding at the Extreme Scale</a> </li>
    <li><a href="https://sites.google.com/site/uchicagolssg/lssg/research/10x10" target="_blank">10x10 - Systematic Heterogenous Architecture</a></li>
    <li> Machine Learning based Load Balancing for <a href="http://www2.cesm.ucar.edu/" target="_blank"> Community Earth System Model </a> on <a href="https://www.alcf.anl.gov/mira" target="_blank"> Leadership Class Machines</a></li>
    </ul>


    <h5><a name="awards" id="awards">Awards and Fellowships</a></h5>

   <ul class="itemize1" align="justify">
     <li class="itemize">Best paper award, 21st High Performance Computing Symposia (HPC), The Society for Modeling &amp;
     Simulation International, San Diego, April 2013.
     </li>
     <li class="itemize">NSF/SIAM  travel  award,  for  SIAM  Conference  on  Parallel  Processing  for  Scientific  Computing,
     Savannah, GA, February 15-17, 2012.
     </li>
     <li class="itemize">F.N.R.S.  chargé  de  recherches  fellowship,  from  the  Belgian  Funds  for  Scientific  Research  from
     October 2010 to September 2013 (one of the most competitive postdoctoral fellowships in Belgium).
     Declined in order to accept postdoc at Argonne National Laboratory.
    </li>
     <li class="itemize">F.N.R.S. aspirant fellowship, from the Belgian Funds for Scientific Research, from October 2006 to
     September 2008 (one of the most competitive Ph.D. fellowships in Belgium).
     </li>
     <li class="itemize">Marie  Curie  fellowship,  from  the  European  Commission  through  the  fifth  framework  human
     resources and mobility program, from November 2004 to September 2006 (one of the most competitive
     Ph.D. fellowships at the European level).
     </li>
     <li class="itemize">International  student  scholarship,  for  the  best  academic  performance  from  Otto-von-Guericke
     Universität Magdeburg, Germany, from April 2003 to March 2004 (scholarship awarded every year to
     the top two international students).
     </li>
     <li class="itemize"><span
class="pplb7t-">First class with distinction</span>, Bachelor of Engineering, Periyar University, India, May 2002.
     </li></ul>
    </ul>

    <h5><a name="cv" id="cv">Curriculam Vitæ</a></h5>

    <p>CV as of December 2014. [<a href="files/Prasanna.Balaprakash.CV.pdf" onClick="javascript: pageTracker._trackPageview('/downloads/map');" target="_blank">PDF</a>] <br>

    <h5><a name="education" id="education">Education</a></h5>
    <!-- main content area-->
    <center>
      <h5>Doctoral</h5>
    </center>
    <p>
    <table width="836">
      <tr class="p2">
        <td width="161">Degree</td>
        <td width="663">Doctor of Philosophy in Engineering Sciences</td>
      </tr>
      <tr class="p2">
        <td width="161">Faculty</td>
        <td><a href="http://code.ulb.ac.be/iridia.home.php" target="_blank">IRIDIA</a>, <a href="http://code.ulb.ac.be/code.home.php" target="_blank">CoDE</a>, Facult&eacute; des sciences appliqu&eacute;es</td>
      </tr>
      <tr class="p2">
        <td width="161">Institution</td>
        <td><a href="http://www.ulb.ac.be/" target="_blank">Universit&eacute; Libre de Bruxelles</a>, Belgium</td>
      </tr>
      <tr class="p2">
        <td width="161">Thesis </td>
        <td>Estimation-based metaheuristics for stochastic combinatorial optimization: Case studies in stochastic routing problems</td>
      </tr>
      <tr class="p2">
        <td width="161">Supervisor</td>
        <td><a href="http://iridia.ulb.ac.be/~mdorigo/HomePageDorigo/" target="_blank">Prof. Marco Dorigo</a></td>
      </tr>
      <tr class="p2">
        <td width="161">Co-supervisors</td>
        <td><a href="http://iridia.ulb.ac.be/~mbiro/" target="_blank">Dr. Mauro Birattari</a> and <a href="http://iridia.ulb.ac.be/~stuetzle/" target="_blank">Dr. Thomas St&uuml;tzle</a></td>
      </tr>
      <tr class="p2">
        <td>Conclusion</td>
        <td>January 2010 </td>
      </tr>
    </table>
    </p>
    <center>
      <h5>Pre-doctoral </h5>
    </center>
    <p> </p>
    <table width="836">
      <tr class="p2">
        <td width="161">Degree</td>
        <td width="663">Master of Advanced Studies (Dipl&ocirc;me d'Etudes Approfondies en Sciences Appliqu&eacute;es)  </td>
      </tr>
      <tr class="p2">
        <td width="161">Faculty</td>
        <td><a href="http://code.ulb.ac.be/iridia.home.php" target="_blank">IRIDIA</a>, <a href="http://code.ulb.ac.be/code.home.php" target="_blank">CoDE</a>, Facult&eacute; des sciences appliqu&eacute;es</td>
      </tr>
      <tr class="p2">
        <td width="161">Institution</td>
        <td><a href="http://www.ulb.ac.be/" target="_blank">Universit&eacute; Libre de Bruxelles</a>, Belgium</td>
      </tr>
      <tr class="p2">
        <td width="161">Thesis </td>
        <td>Ant Colony Optimization under Uncertainty</td>
      </tr>
      <tr class="p2">
        <td width="161">Supervisor</td>
        <td><a href="http://iridia.ulb.ac.be/~mdorigo/HomePageDorigo/" target="_blank">Prof. Marco Dorigo</a></td>
      </tr>
      <tr class="p2">
        <td width="161">Co-supervisor</td>
        <td><a href="http://iridia.ulb.ac.be/~mbiro/" target="_blank">Dr. Mauro Birattari</a></td>
      </tr>
      <tr class="p2">
        <td width="161">Conclusion</td>
        <td>September 2005</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <table width="836">
      <tr class="p2">
        <td width="162">Degree</td>
        <td width="672">Master of Science in Computer Science </td>
      </tr>
      <tr class="p2">
        <td width="162">Faculty</td>
        <td>Institut f&uuml;r Simulation und Graphik, <a href="http://www.cs.uni-magdeburg.de/home.html" target="_blank">Fakult&auml;t f&uuml;r Informatik</a></td>
      </tr>
      <tr class="p2">
        <td width="162">Institution</td>
        <td><a href="http://www.uni-magdeburg.de/" target="_blank">Otto von Guericke - Universit&auml;t Magdeburg</a>, Germany</td>
      </tr>
      <tr class="p2">
        <td width="162">Thesis </td>
        <td>Preprocessing of Petri nets and improved storage strategy for proxel based simulation</td>
      </tr>
      <tr class="p2">
        <td width="162">Supervisor</td>
        <td><a href="http://isgwww.cs.uni-magdeburg.de/~graham/" target="_blank">Prof. Graham Horton</a></td>
      </tr>
      <tr class="p2">
        <td width="162">Co-supervisor</td>
        <td><a href="http://faculty.uaeu.ac.ae/sanja/" target="_blank">Dr. Sanja Lazarova-Molnar</a></td>
      </tr>
      <tr class="p2">
        <td width="162">Conclusion</td>
        <td>May 2004</td>
      </tr>
    </table>
    <p>&nbsp;</p>
    <table width="836">
      <tr class="p2">
        <td width="162">Degree</td>
        <td width="672">Bachelor of Engineering in Computer Science </td>
      </tr>
      <tr class="p2">
        <td width="162">Faculty</td>
        <td>Department of Computer Science</td>
      </tr>
      <tr class="p2">
        <td width="162">Institution</td>
        <td><a href="http://www.vinayakamission.com/" target="_blank">Vinayaka Missions</a>, Periyar University Salem, India</td>
      </tr>
      <tr class="p2">
        <td width="162">Conclusion</td>
        <td>May 2002</td>
      </tr>
    </table>
    <p>&nbsp;</p>
  </div>


    </div>
  </div>
</div>
</section>
