<section id="jobs">
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">

      <p align="justify"></p>
      <h5><strong>Current</strong></h5>
      <ul class="itemize1" align="justify">
        <li class="itemize"><a href="https://sandeep-madireddy.netlify.app/", target="black_">Sandeep Madireddy</a>, Assistant Computational Scientist, 2019--Present</li>
        <li class="itemize"><a href="https://www.linkedin.com/in/jaehoon-koo-bb384aa1/", target="black_">Romit Maulik</a>, Margaret Butler Postdoctoral Fellow, 2019--Present</li>
        <li class="itemize"><a href="https://romit-maulik.github.io/", target="black_">Romit Maulik</a>, Margaret Butler Postdoctoral Fellow, 2019--Present</li>
        <li class="itemize"><a href="https://www.linkedin.com/in/krm9c/", target="black_">Krishnan Ragavan</a>, Postdoctoral Fellow, 2019--Present</li>
        <li class="itemize"><a href="https://www.linkedin.com/in/tanwimallick", target="black_">Tanwi Mallick</a>, Postdoctoral Fellow, 2018--Present</li>
        <li class="itemize"><a href="https://fr.linkedin.com/in/romain-egele/en", target="black_">Romain Egele</a>, Research Aide, 2018--Present </li>
        <li class="itemize"><a href="https://www.linkedin.com/in/grant-getzelman-0301255a/", target="black_">Grant Getzelman</a>, Predoctoral Researcher, 2019--Present </li>
      </ul>
      <h5><strong>Alumni</strong></h5>
      <ul class="itemize1" align="justify">
        <li class="itemize"><a href="https://www.linkedin.com/in/sami-khairy-268b4181/", target="black_">Sami Khairy</a> (Givens Fellow, 2019. From Illinois Institute of Technology)</li>
        <li class="itemize"><a href="https://www.linkedin.com/in/peihong-jiang-7191b244/", target="black_">Peihong Jiang</a> (NSF MSGI Fellow, 2019. From Brown University)</li>
        <li class="itemize"><a href="https://www.linkedin.com/in/tianchen-eric-zhao-26479717/", target="black_">Tianchen (Eric) Zhao</a> (Givens Fellow, 2018. From University of Michigan)</li>
        <li class="itemize"><a href="https://www.linkedin.com/in/nimish-awalgaonkar-39645473", target="black_">Nimish Awalgaonkar</a> (Givens Fellow, 2018. From Purdue University)</li>
        <li class="itemize"><a href="https://in.linkedin.com/in/dipnil-chakraborty-021650102", target="black_">Dipnil Chakraborty</a> (NSF MSGI Fellow, 2018. From University of Texas at Dallas)</li>
        <li class="itemize"><a href="https://www.linkedin.com/in/dipendraj", target="black_">Dipendra Jha</a> (Givens Fellow, 2018. From Northwestern University)</li>
        <li class="itemize"><a href="https://www.linkedin.com/in/akash-roy-096797a4", target="black_">Akash Roy</a> (Research Aid, 2018. From University of Texas at Dallas)</li>
        <li class="itemize">Andy Jin (Jeff Metcalf Undergraduate Fellow, 2018. From University of Chicago)</li>
        <li class="itemize">Tian Ma (Jeff Metcalf Undergraduate Fellow, 2018. From University of Chicago)</li>
        <li class="itemize">YiMing Yu (NSF MSGI Fellow, 2017. From New Jersy Institute of Technology)</li>
        <li class="itemize"><a href="https://www.linkedin.com/in/prateekagrawal06", target="black_">Prateek Agarwal</a> (Resident Associate, 2017. From Illinois Institute of Technology)</li>
        <li class="itemize"><a href="https://fr.linkedin.com/in/amal-fethi-48a7a677", target="black_">Amal Fethi</a> (Resident Associate, 2017. From ENS Paris, France)</li> 
        <li class="itemize"><a href="https://www.linkedin.com/in/juan-li-1a540190/", target="black_">Juan Li</a> (Resident Associate, 2016. From University of Chicago)</li> 
        <li class="itemize"><a href="https://www.linkedin.com/in/aroy56", target="black_">Amit Roy</a> (Givens Associate, 2015. From University of Utah)</li> 
        <li class="itemize"><a href="https://www.linkedin.com/in/arnamoy-bhattacharyya-89334368/", target="black_">Arnamoy Bhattacharyya</a> (Givens Associate, 2014. From ETH Zurich, Switzerland)</li>
      </ul>


      <p align="justify"></p>
        <h5><strong>Postdoctoral and internship opportunities</strong></h5>
        I am looking for researchers and students with expertise in artificial intelligence, machine/deep learning, applied mathematics, and/or high performance computing at various levels (postdocs, graduates, and undergraduates). 
        <h6><strong>Immediate openings:</strong></h6>
        We have immediate openings for postdoc researchers in scalable machine learning for scientific discovery using leadership-class supercomputers. Contact me if you need more information. Apply here: </br>
        <a href="https://careers.peopleclick.com/careerscp/client_argonnelab/post_doc/en_US/gateway.do?functionName=viewFromLink&localeCode=en-us&jobPostId=6600" target="_blank">Scientific Machine Learning (Requisition Number: 404740)</a></br>
        <strike> Applied Machine Learning (Requisition Number: 403210)</br> </strike>
      </br>
        <h6><strong>Postdoctoral Fellowships:</strong></h6>
        <a href="https://www.anl.gov/mcs/wilkinson-fellowship-in-scientific-computing" target="_blank">Wilkinson Fellowship</a></br>
        <a href="https://www.alcf.anl.gov/margaret-butler-fellowship-computational-science" target="_blank">Margaret Butler Fellowship</a></br>
        <a href="https://www.anl.gov/careers/apply-job/argonne-fellowships" target="_blank">Maria Goeppert Mayer Fellowship</a></br>
        
        <h6><strong>Graduate Fellowships:</strong></h6>
        <a href="https://www.anl.gov/mcs/givens-associates" target="_blank">Givens Associates</a></br>
        <a href="https://www.anl.gov/mcs/wj-cody-associates" target="_blank">Cody Associates</a></br>
        <a href="https://science.energy.gov/wdts/scgsr/" target="_blank">Department of Energy Office of Science Graduate Student Research (SCGSR) Program </a></br>
        <a href="https://orise.orau.gov/nsf-msgi/" target="_blank">National Science Foundation Mathematical Sciences Graduate Internship (NSF-MSGI) Program</a></br>
        
        <h6><strong>Undergraduate Fellowships:</strong></h6>
        <a href="https://science.energy.gov/wdts/suli/" target="_blank">Department of Energy Science Undergraduate Laboratory Internship (SULI) Program</a></br>
        
        </br>
        </br>
        <i>Note: Deadlines vary and some require coordination with an Argonne sponsor. Therefore, contact me well in advance if you are interested. </i>
      </p>
    </div>
  </div>
</div>


</section>
